.display-4.text-center
  Change Password
  
- if @user_error
  .message_error.alert.alert-danger
    = @user_error

.h4
  Your current password does not meet the new password requirements, and you should create a new one.

%form.custom-validation-form.mb-2{:method => 'POST', :novalidate => true}
  %fieldset
    %legend
      Change Password
    .form-group
      %label.main_input{:for => 'new_password'}
        New Password:
      %input#new_password.form-control{:type => 'password', :name => 'new_password', :placeholder => 'New Password'}
    
    .form-group
      %label.main_input{:for => 'reenter_new_password'}
        Re-enter New Password:
      %input#reenter_new_password.form-control{:type => 'password', :name => 'reenter_new_password', :placeholder => 'Confirm Password'}
      .invalid-feedback
        Please re-enter the password for confirmation.
    
    .text-center
      .btn-group{:role => 'group', 'aria-label' => 'Change Password Submission Buttons'}
        %button.submission_button.btn.btn-primary.mr-2{ :type => 'submit', :name => 'submit'}
          Change Password
        %button.submission_button.btn.btn-secondary{ :type => 'submit', :name => 'skip'}
          Skip for now