:markdown
  #Prometheus #{spec_title} Terms and Conditions

  Important: This Software Terms of Service Agreement ("Agreement") is a legal agreement between you (either an individual or, if purchased or otherwise acquired by or for an entity, a single legal entity) and Prometheus Computing. By using the Prometheus Computing #{spec_title}#{(' at ' + spec_url) if spec_url}, you are agreeing to be bound by the following terms and conditions.

  Read it carefully before using this service. It provides an agreement to use this software and contains warranty information and liability disclaimers. By accessing or using the service you are indication you assent to the terms of this agreement. If you do not agree to all of the following terms, do discontinue use immediately. You also accept and assent to the Prometheus Computing Privacy Policy Located at http://www.prometheuscomputing.com/privacy and you agree to receive notices from Prometheus Computing electronically.

  Prometheus Computing may amend this Agreement at any time by posting a revised version on our website. The revised version will be effective at the time it is posted. In addition, if the revised version includes a Substantial Change, we will provide you with 30 Days' prior notice of any Substantial Change electronically and by posting notice on the Prometheus #{spec_title} website.

  ###1. DEFINITION

  a) "Malicious Code" means viruses, worms, time bombs, Trojan horses and other harmful or malicious code, files, scripts, agents or programs.

  b) "Prometheus Computing" means Prometheus Computing, LLC.

  c) "Purchased Services" means Services that You purchased under a Purchase Order, as distinguished from those provided pursuant to a free trial.

  d) "Services" the products and services that are ordered by You under a free trial or a Purchase Order.

  e) "Substantial Change" means a change to the terms of this Agreement that reduces your rights or increases your responsibilities.

  f) "User" is an individual authorized by You to use the Services through the assignment of a single user ID, regardless of whether or not the individual is using the Software at any given time. A non-human operated device is counted as a User in addition to all individuals authorized to use the Services, if such device can access the Services.

  g) "We," "Us", or "Our" means the Prometheus Computing, LLC

  h) "You" or "Your" means the company or other legal entity for which you are accepting this Agreement, and Affiliates of that company or entity.

  i) "Your Data" means all electronic data or information submitted by You to the Services.

  ###2. FREE TRIAL

  2.1. Initial Pre-Trial Period. You may initially use the Services for free for thirty (30) days before the Trial Period ("Pre-Trial Period"). During the Pre-Trial Period, Prometheus Computing will make the Services available to You on a trial basis free of charge until the earlier of (i) the end of the free pre-trial period or (ii) the start date of any Purchased Services ordered by You. Your Data will be deleted from the Service nightly at 12:00am EST, and the Services will be restored to the original state. At Prometheus Computing's discretion, Prometheus Computing may provide limited support through email or by phone.

  2.2. Trial Period. You may use the Services for free for thirty (30) days ("Trial Period") after the initial Pre-Trial Period. During the Trial Period, Prometheus Computing will make the Services available to You on a trial basis free of charge until the earlier of (i) the end of the free trial period or (ii) the start date of any Purchased Services ordered by You. At Prometheus Computing's discretion, Prometheus Computing may provide limited support through email or by phone.

  ###3. PURCHASED SERVICES

  3.1. Provision of Purchased Services. Prometheus Computing shall make the Purchased Services available to You pursuant to this Agreement and the relevant Order Forms during a subscription term. You agree that Your purchases hereunder are neither contingent on the delivery of any future functionality or features nor dependent on any oral or written public comments made by Prometheus Computing regarding future functionality or features.

  3.2. User Subscriptions. Unless otherwise specified in the applicable Purchase Order (i) Services are purchased as User subscriptions and may be accessed by no more than the specified number of Users, (ii) additional User subscriptions may be added during the applicable subscription term at the same pricing as that for the pre-existing subscriptions thereunder, prorated for the remainder of the subscription term in effect at the time the additional User subscriptions are added, and (iii) the added User subscriptions shall terminate on the same date as the pre-existing subscriptions. User subscriptions are for designated Users only and cannot be shared or used by more than one User but may be reassigned to new Users replacing former Users who no longer require ongoing use of the Services.

  ###4. USE OF THE SERVICES

  4.1. Prometheus Computing's Responsibilities. Prometheus Computing shall: (i) provide basic support for the Purchased Services to You at no additional charge, and/or upgraded support if purchased separately, (ii) use commercially reasonable efforts to make the Purchased Services available 24 hours a day, 7 days a week, except for: (a) planned downtime (of which Prometheus Computing shall give at least 8 hours notice via the Purchased Services and which Prometheus Computing shall schedule to the extent practicable during the weekend hours from 6:00 p.m. Friday to 3:00 a.m. Monday Eastern Standard Time), or (b) any unavailability caused by circumstances beyond Our reasonable control, including without limitation, acts of God, acts of government, floods, fires, earthquakes, civil unrest, acts of terror, strikes or other labor problems (other than those involving Our employees), Internet service provider failures or delays, or denial of service attacks, and (iii) provide the Purchased Services only in accordance with applicable laws and government regulations.

  4.2. Prometheus Computing's Protection of Your Data. Prometheus Computing shall maintain appropriate administrative, physical, and technical safeguards for protection of the security, confidentiality and integrity of Your Data. Prometheus Computing shall not (a) modify Your Data, (b) disclose Your Data except as compelled by law in accordance with Section 9.3 (Compelled Disclosure) or as expressly permitted in writing by You, or (c) access Your Data except to provide the Services and prevent or address service or technical problems, or at Your request in connection with customer support matters.

  4.3. Your Responsibilities. You shall (i) be responsible for Users' compliance with this Agreement, (ii) be responsible for the accuracy, quality and legality of Your Data and of the means by which You acquired Your Data, (iii) use commercially reasonable efforts to prevent unauthorized access to or use of the Services, and notify Us promptly of any such unauthorized access or use, and (iv) use the Services only in accordance with applicable laws and government regulations. You shall not (a) make the Services available to anyone other than Users, (b) sell, resell, rent or lease the Services, (c) use the Services to store or transmit infringing, libelous, or otherwise unlawful or tortious material, or to store or transmit material in violation of third-party privacy rights, (d) use the Services to store or transmit Malicious Code, (e) interfere with or disrupt the integrity or performance of the Services or third-party data contained therein, or (f) attempt to gain unauthorized access to the Services or their related systems or networks.

  ###5. FEES AND PAYMENT FOR PURCHASED SERVICES

  5.1. Fees. You shall pay all fees specified in all Purchase Orders hereunder. Except as otherwise specified herein or in an Purchase Order, (i) fees are based on services purchased and not actual usage, (ii) payment obligations are non- cancelable and fees paid are non-refundable, and (iii) the number of User subscriptions purchased cannot be decreased during the relevant subscription term stated on the Order Form. User subscription fees are based on yearly periods that begin on the subscription start date and each monthly anniversary thereof; therefore, fees for User subscriptions added in the middle of a monthly period will be charged for that full monthly period and the monthly periods remaining in the subscription term.

  5.2. Invoicing and Payment. You will provide Prometheus Computing with valid and updated credit card information, or with a valid purchase order or alternative document reasonably acceptable to Prometheus Computing. If You provide credit card information to Us, You authorize Us to charge such credit card for all Services listed in the Purchase Order for the initial subscription term and any renewal subscription term(s) as set forth in Section 11.2 (Term of Purchased User Subscriptions). Such charges shall be made in advance, either annually or in accordance with any different billing frequency stated in the applicable Purchase Order. If the Purchase Order specifies that payment will be by a method other than a credit card, Prometheus Computing will invoice You in advance and otherwise in accordance with the relevant Purchase Order. Unless otherwise stated in the Purchase Order, invoiced charges are due net 30 days from the invoice date. You are responsible for providing complete and accurate billing and contact information to Prometheus Computing and notifying Prometheus Computing of any changes to such information.

  5.3. Overdue Charges. If any charges are not received from You by the due date, then at Prometheus Computing's discretion, (a) such charges may accrue late interest at the rate of 1.5% of the outstanding balance per month, or the maximum rate permitted by law, whichever is lower, from the date such payment was due until the date paid, and/or (b) Prometheus Computing may condition future subscription renewals and Purchase Order on payment terms shorter than those specified in Section 5.2 (Invoicing and Payment).

  5.4. Suspension of Service and Acceleration. If any amount owing by You under this or any other agreement for Prometheus Computing's services is 30 or more days overdue (or 10 or more days overdue in the case of amounts You have authorized Prometheus Computing to charge to Your credit card), We may, without limiting Prometheus Computing's other rights and remedies, accelerate Your unpaid fee obligations under such agreements so that all such obligations become immediately due and payable, and suspend Prometheus Computing's services to You until such amounts are paid in full. Prometheus Computing will give You at least 7 days' prior notice that Your account is overdue, in accordance with Section 13.5 (Manner of Giving Notice), before suspending services to You.

  5.5. Payment Disputes. Prometheus Computing shall not exercise Our rights under Section 6.3 (Overdue Charges) or 6.4 (Suspension of Service and Acceleration) if You are disputing the applicable charges reasonably and in good faith and are cooperating diligently to resolve the dispute.

  5.6. Taxes. Unless otherwise stated, Prometheus Computing's fees do not include any taxes, levies, duties or similar governmental assessments of any nature, including but not limited to value-added, sales, use or withholding taxes, assessable by any local, state, provincial, federal or foreign jurisdiction (collectively, "Taxes"). You are responsible for paying all Taxes associated with Your purchases hereunder. If Prometheus Computing has the legal obligation to pay or collect Taxes for which You are responsible under this paragraph, the appropriate amount shall be invoiced to and paid by You, unless You provide Prometheus Computing with a valid tax exemption certificate authorized by the appropriate taxing authority. For clarity, Prometheus Computing is solely responsible for taxes assessable against it based on Our income, property and employees.

  ###6. OWNERSHIP AND INTELLECTUAL PROPERTY RIGHTS

  6.1. This Agreement gives you limited rights to use the Services. Prometheus Computing retains any and all rights, title and interest in and to the Services and all copies thereof, including copyrights, patents, trade secret rights, trademarks and other intellectual property rights. All rights not specifically granted in this Agreement, including International Copyrights, are reserved by Prometheus Computing. The structure, organization and code of the Services are valuable trade secrets and confidential information of Prometheus Computing.

  6.2. Restrictions. You shall not (i) permit any third party to access the Services except as permitted herein or in a Purchase Order, (ii) create derivate works based on the Services except as authorized herein, (iii) copy, frame or mirror any part or content of the Services, other than copying or framing on Your own intranets or otherwise for Your own internal business purposes, (iv) reverse engineer the Services, or (v) access the Services in order to (a) build a competitive product or service, or (b) copy any features, functions or graphics of the Services.

  ###7. PATENT AND COPYRIGHT INDEMNITY

  7.1. Prometheus Computing will defend and indemnify You for all costs (including reasonable attorneys fees) arising from a claim that Software furnished and used within the scope of this Agreement infringes the copyright or other intellectual property rights protected by United States law of any third party, provided that: (i) You notify Prometheus Computing in writing within ten (10) business days of the claim, (ii) Prometheus Computing has sole control of the defense and all related settlement negotiations, and (iii) You provide Prometheus Computing with the assistance, information, and authority necessary to perform the above.

  7.2. Prometheus Computing will have no liability for any claim of infringement based on (i) code contained within the Services which was not created by Prometheus Computing (ii) use of a superseded or altered release of the Services, except for such alteration(s) or modification(s) which have been made by Prometheus Computing or under Prometheus Computing's direction, if such infringement would have been avoided by the use of a current, unaltered release of the Services that Prometheus Computing provides to You, or (iii)the combination, operation, or use of any Software furnished under this Agreement with programs or data not furnished by Prometheus Computing if such infringement would have been avoided by the use of the Software without such programs or data.

  7.3. In the event the Services is held or believed by Prometheus Computing to infringe, or Your use of the Services is enjoined, Prometheus Computing will have the option, at its expense, to (i) modify the Services to cause it to become non-infringing, (ii) obtain for You a license to continue using the Software, or (iii) if none of the foregoing remedies are commercially feasible, terminate the subscription for such Services upon 30 days' written notice and refund any fees paid for the Services covering the remainder of the term of such User Subscription after the effective date of termination. This Section states Prometheus Computing's entire liability for infringement.

  ###8. WARRANTIES AND DISCLAIMERS

  8.1. Prometheus Computing's Warranties. Prometheus Computing warrants that (i) Prometheus Computing has validly entered into this Agreement and has the legal power to do so, (ii) the functionality of the Services will not be materially decreased during a subscription term, and (iii) Prometheus Computing will not transmit Malicious Code to You, provided it is not a breach of this subpart (v) if You or a User uploads a file containing Malicious Code into the Services and later downloads that file containing Malicious Code. For any breach of a warranty above, Your exclusive remedy shall be as provided in Section 11.3 (Termination for Cause) and Section 11.4 (Refund or Payment upon Termination) below.

  8.2. Your Warranties. You warrant that You have validly entered into this Agreement and have the legal power to do so.

  8.3. Disclaimer. EXCEPT AS EXPRESSLY PROVIDED HEREIN, NEITHER PARTY MAKES ANY WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, AND EACH PARTY SPECIFICALLY DISCLAIMS ALL IMPLIED WARRANTIES, INCLUDING ANY WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW.

  ###9. CONFIDENTIALITY

  9.1. Definition of Confidential Information. As used herein, "Confidential Information" means all confidential information disclosed by a party ("Disclosing Party") to the other party ("Receiving Party"), whether orally or in writing, that is designated as confidential or that reasonably should be understood to be confidential given the nature of the information and the circumstances of disclosure. Your Confidential Information shall include Your Data; Prometheus Computing's Confidential Information shall include the Services; and Confidential Information of each party shall include the terms and conditions of this Agreement and all Purchase Orders, as well as business and marketing plans, technology and technical information, product plans and designs, and business processes disclosed by such party. However, Confidential Information (other than Your Data) shall not include any information that (i) is or becomes generally known to the public without breach of any obligation owed to the Disclosing Party, (ii) was known to the Receiving Party prior to its disclosure by the Disclosing Party without breach of any obligation owed to the Disclosing Party, (iii) is received from a third party without breach of any obligation owed to the Disclosing Party, or (iv) was independently developed by the Receiving Party.

  9.2. Protection of Confidential Information. The Receiving Party shall use the same degree of care that it uses to protect the confidentiality of its own confidential information of like kind (but in no event less than reasonable care) (i) not to use any Confidential Information of the Disclosing Party for any purpose outside the scope of this Agreement, and (ii) except as otherwise authorized by the Disclosing Party in writing, to limit access to Confidential Information of the Disclosing Party to those of its and its Affiliates' employees, contractors and agents who need such access for purposes consistent with this Agreement and who have signed confidentiality agreements with the Receiving Party containing protections no less stringent than those herein. Neither party shall disclose the terms of this Agreement or any Order Form to any third party other than its Affiliates and their legal counsel and accountants without the other party's prior written consent.

  9.3. Compelled Disclosure. The Receiving Party may disclose Confidential Information of the Disclosing Party if it is compelled by law to do so, provided the Receiving Party gives the Disclosing Party prior notice of such compelled disclosure (to the extent legally permitted) and reasonable assistance, at the Disclosing Party's cost, if the Disclosing Party wishes to contest the disclosure. If the Receiving Party is compelled by law to disclose the Disclosing Party's Confidential Information as part of a civil proceeding to which the Disclosing Party is a party, and the Disclosing Party is not contesting the disclosure, the Disclosing Party will reimburse the Receiving Party for its reasonable cost of compiling and providing secure access to such Confidential Information.


  ###10. LIMITATION OF LIABILITY

  10.1. Limitation of Liability. NEITHER PARTY'S LIABILITY WITH RESPECT TO ANY SINGLE INCIDENT ARISING OUT OF OR RELATED TO THIS AGREEMENT (WHETHER IN CONTRACT OR TORT OR UNDER ANY OTHER THEORY OF LIABILITY) SHALL EXCEED THE LESSER OF $500,000 OR THE AMOUNT PAID BY YOU HEREUNDER IN THE 12 MONTHS PRECEDING THE INCIDENT, PROVIDED THAT IN NO EVENT SHALL EITHER PARTY'S AGGREGATE LIABILITY ARISING OUT OF OR RELATED TO THIS AGREEMENT (WHETHER IN CONTRACT OR TORT OR UNDER ANY OTHER THEORY OF LIABILITY) EXCEED THE TOTAL AMOUNT PAID BY YOU HEREUNDER. THE FOREGOING SHALL NOT LIMIT YOUR PAYMENT OBLIGATIONS UNDER SECTION 5 (FEES AND PAYMENT FOR PURCHASED SERVICES).

  10.2. Exclusion of Consequential and Related Damages. IN NO EVENT SHALL EITHER PARTY HAVE ANY LIABILITY TO THE OTHER PARTY FOR ANY LOST PROFITS OR REVENUES OR FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, COVER OR PUNITIVE DAMAGES HOWEVER CAUSED, WHETHER IN CONTRACT, TORT OR UNDER ANY OTHER THEORY OF LIABILITY, AND WHETHER OR NOT THE PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE FOREGOING DISCLAIMER SHALL NOT APPLY TO THE EXTENT PROHIBITED BY APPLICABLE LAW.

  ###11. TERM AND TERMINATION

  11.1. Term of Agreement. This Agreement commences on the date You accept it and continues until all User subscriptions granted in accordance with this Agreement have expired or been terminated. If You elect to use the Services for a free trial period and do not purchase a subscription before the end of that period, this Agreement will terminate at the end of the free trial period.

  11.2. Term of Purchased User Subscriptions. User subscriptions purchased by You commence on the start date specified in the applicable Purchase Order and continue for the subscription term specified therein. Except as otherwise specified in the applicable Purchase Order, all User subscriptions shall automatically renew for additional periods equal to the expiring subscription term or one year (whichever is shorter), unless either party gives the other notice of non-renewal at least 30 days before the end of the relevant subscription term. The per-unit pricing during any such renewal term shall be the same as that during the prior term unless Prometheus Computing has given You written notice of a pricing increase at least 60 days before the end of such prior term, in which case the pricing increase shall be effective upon renewal and thereafter. Any such pricing increase shall not exceed 7% of the pricing for the relevant Services in the immediately prior subscription term, unless the pricing in such prior term was designated in the relevant Purchase Order as promotional or one-time.

  11.3. Termination for Cause. A party may terminate this Agreement for cause: (i) upon 30 days written notice to the other party of a material breach if such breach remains uncured at the expiration of such period, or (ii) if the other party becomes the subject of a petition in bankruptcy or any other proceeding relating to insolvency, receivership, liquidation or assignment for the benefit of creditors.

  11.4. Refund or Payment upon Termination. Upon any termination for cause by You, Prometheus Computing shall refund You any prepaid fees covering the remainder of the term of all subscriptions after the effective date of termination. Upon any termination for cause by Prometheus Computing, You shall pay any unpaid fees covering the remainder of the term of all Purchase Order after the effective date of termination. In no event shall any termination relieve You of the obligation to pay any fees payable to Prometheus Computing for the period prior to the effective date of termination.

  11.5. Return of Your Data. Upon request by You made within 30 days after the effective date of termination of a Purchased Services subscription, Prometheus Computing will make available to You for download a file of Your Data in comma separated value (.csv) format along with attachments in their native format. After such 30-day period, Prometheus Computing shall have no obligation to maintain or provide any of Your Data and shall thereafter, unless legally prohibited, delete all of Your Data in Our systems or otherwise in Our possession or under Our control.

  ###12. U.S. GOVERNMENT ENTITY RIGHTS

  12.1. If Software is being acquired by or on behalf of the U.S Government or by a U.S. Government prime contractor or subcontractor (at any tier), then the government's rights in Software and accompanying documentation will be only as set in this Agreement; this is in accordance with 48 CFR 227.7201 through 277.7202-4 (for Department of Defense (DOD) acquisitions) and with FAR 12.212, 48 CFR 2.101 and 12.212 (for non-DOD acquisitions).

  ###13. GENERAL

  13.1. Prometheus Computing makes efforts to provide updates or new versions of the Service, but Prometheus Computing reserves the right at any time not to release updates or new versions of the Service or, if released, to alter prices, features, specifications, capabilities, functions, subscription terms, release dates, general availability or other characteristics of the Service.

  13.2. If any provision hereof shall be held illegal, invalid or unenforceable, in whole or in part, such provision shall be modified to the minimum extent necessary to make it legal, valid and enforceable, and the legality, validity and enforceability of all other provisions of this Agreement shall not be affected.

  13.3. This Agreement will be governed by and construed in accordance with the laws of the North Carolina. In the event of any disputes arising out of the interpretation or performance of this Agreement, the parties shall endeavor to settle the matter out of court prior to any court action. If no agreement can be reached to settle a dispute concerning the interpretation or performance of this Agreement, the competent courts of North Carolina shall have exclusive jurisdiction. Service of process upon either party shall be valid if served by registered or certified mail, return receipt requested and to the most current address provided by such party.

  13.4. Export Compliance. The Services, other technology Prometheus Computing make available, and derivatives thereof may be subject to export laws and regulations of the United States and other jurisdictions. Each party represents that it is not named on any U.S. government denied-party list. You shall not permit Users to access or use Services in a U.S.- embargoed country (currently Cuba, Iran, North Korea, Sudan or Syria) or in violation of any U.S. export law or regulation.

  13.5. Manner of Giving Notice. Except as otherwise specified in this Agreement, all notices, permissions and approvals hereunder shall be in writing and shall be deemed to have been given upon: (i) personal delivery, (ii) the second business day after mailing, (iii) the second business day after sending by confirmed facsimile, or (iv) the first business day after sending by email (provided email shall not be sufficient for notices of termination or an indemnifiable claim). Billing-related notices to You shall be addressed to the relevant billing contact designated by You. All other notices to You shall be addressed to the relevant Services system administrator designated by You.

  13.6. You may not assign this Agreement in whole or in part, without Prometheus Computing's prior written consent. Any attempt by You to assign this Agreement without such consent will be null and void.

  13.7. This Agreement constitutes the entire agreement between Prometheus Computing and You related to the Service and supersedes any and all previous and contemporaneous understandings or agreements between the parties with respect to the same subject matter. No Purchase Order, other ordering document or any other document which purports to modify or supplement this Agreement shall add to or vary the terms and conditions of this Agreement unless executed by both Prometheus Computing and You. Prometheus Computing's acceptance of any Purchase Order placed by You is expressly made conditional on your assent to the terms set forth in this Agreement, and not those contained in your Purchase Order, and such Purchase Order terms shall have no effect on this Agreement. All questions concerning this Agreement shall be directed to support@prometheuscomputing.com



  #Privacy Policy

  ###Collection of Your Personal Information
  At some Prometheus Computing sites, we ask you to provide personal information, such as your e-mail address, name, home or work address, or telephone number.
  We may collect information about your interaction with Prometheus Computing sites and products. For example, we may use site analytics tools on our site to retrieve information from your browser, including the site you came from, the search engine(s) and the keywords you used to find our site, the pages you view within our site, your browser add-ons, and your browser's width and height. We may also use technologies, such as cookies to collect information about the pages you view, the links you click and other actions you take on our sites and products. Additionally, we collect certain standard information that your browser sends to every website you visit, such as your IP address, browser type and language, access times and referring Web site addresses.

  ###Use of Your Personal Information
  Prometheus Computing collects and uses your personal information to operate and improve its sites and products. These uses may include providing you with more effective customer service; making the sites or products easier to use by eliminating the need for you to repeatedly enter the same information; performing research and analysis aimed at improving our products, services and technologies.
  We also use your personal information to communicate with you. We may send certain mandatory service communications such as billing reminders, information on technical service issues.

  ###Sharing of Your Personal Information
  Except as described in this statement, we will not disclose your personal information outside of Prometheus Computing without your consent.

  ###Communication Preferences
  You can stop the delivery of future promotional e-mail from Prometheus Computing sites and services by following the specific instructions in the e-mail you receive.

  ###Controlling Unsolicited E-mail ("Spam")
  Prometheus Computing is concerned about controlling unsolicited commercial e-mail, or "spam." Prometheus Computing will not sell, lease or rent its e-mail subscriber lists to third parties.

  ###Children's privacy
  Prometheus Computing does not knowingly collect information from children under the age of 13 and does not target its websites to children under 13. We encourage parents and guardians to take an active role in their children's online activities and interests.

  ###Use of Cookies
  Prometheus Computing Web sites use "cookies" to enable you to sign in to our services and to help personalize your online experience. A cookie is a small text file that is placed on your hard disk by a Web page server. Cookies contain information that can later be read by a Web server in the domain that issued the cookie to you. Cookies cannot be used to run programs or deliver viruses to your computer.

  One of the primary purposes of cookies is to store your preferences and other information on your computer in order to save you time by eliminating the need to repeatedly enter the same information and to display your personalized content on your later visits to these sites.

  You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to sign in or use other interactive features of Prometheus Computing sites and services that depend on cookies.

  ###Other websites
  Prometheus Computing websites may contain links to other websites which are outside our control and are not covered by this Privacy Policy. If you access other sites using the links provided, the operators of these sites may collect information from you which will be used by them in accordance with their privacy policy, which may differ from ours.

  ###Privacy complaints
  Prometheus Computing takes its users' privacy concerns seriously. If you believe that Prometheus Computing has not complied with this Privacy Policy with respect to your personal information, you may write to the Prometheus Computing Privacy Officer at the following address support@prometheuscomputing.com
  In your letter, please describe in as much detail as possible the ways in which you believe that the Privacy Policy has not been complied with. We will investigate your complaint promptly.