%h4
  = "#{spec_title} is a commercial product developed by Prometheus Computing."
%h6
  For pricing or more information contact <a href="mailto:r.edwards@prometheuscomputing.com">Robert Edwards</a>.
%br