%h1.text-center.display-4
  Edit Regular Expression Condition

%form{:method => 'POST'}
  %fieldset
    .form-group
      %label.main_input{:for => 'regex_regex'}
        Regular Expression:
      %input.form-control#regex_regex{:type => 'text', :name => 'regex_regex', :value => @regex, :placeholder => 'Regex'}
      %small.text-muted.form-text
        regex must include the slashes example: /^[^\+]*$/
      
    .form-group
      %label.main_input{:for => 'regex_description'}
        Description:
      %input.form-control.widget_data#regex_description{:type => 'text', :name => 'regex_description', :value => @description, :placeholder => 'Regex Description'}
      
    .form-group
      %label.main_input{:for => 'regex_message'}
        Failure Message:
      %input.form-control#regex_message{:type => 'text', :name => 'regex_message', :value => @message, :placeholder => 'Failure Message'}

  .text-center
    %button{:class => 'btn btn-lg btn-primary', :type => 'submit', :name => 'submit', :value => 'Submit'}
      Submit
