%h1.page_title.display-4.text-center
  = "#{@code ? 'Edit' : 'Create'} Invitation Code"

%form.custom-validation-form{:method => 'POST', :novalidate => true}
  %fieldset.mb-2.thick-border-bottom
    %legend.h2
      Invitation Code Fields
    .form-group
      %label.main_input{:for => 'invitation_code_code'}
        Code:
      %input.form-control#invitation_code_code{:type => 'text', :name => 'invitation_code_code', :value => @code, :required => true, :placeholder => 'Invitation Code'}
      .invalid-feedback
        The code field is required
        
    .form-group.date
      %label.main_input{:for => 'invitation_code_expires'}
        Expiration Date:
      %input.widget_data.form-control#invitation_code_expires{:type => 'text', :name => 'invitation_code_expires', :value => @expires, :placeholder => 'Expiration Date'}

    .form-group
      %label.main_input{:for => 'invitation_code_remaining_uses'}
        Remaining Uses:
      %input.form-control#invitation_code_remaining_uses{:type => 'text', :name => 'invitation_code_uses_remaining', :value => @uses_remaining, :placeholder => 'Remaining Uses'}
      
  %fieldset
    %legend.h2
      Roles Granted to Invitee
    .collection_content_data
      %table.table.table-bordered
        %thead.thead-dark
          %tr
            %th{:scope => 'col'}
              Include?
            %th
              Role
        %tbody
          - @roles.each_with_index do |role, i|    
            - checkbox_id = "invitationCodeRoleCheckbox#{i}"
            %tr
              %td.checkbox
                .custom-control.custom-checkbox.d-inline-flex
                  %input.custom-control-input.position-static{:id => checkbox_id, :type => 'checkbox', :name => 'invitation_code_roles[]', :value => role.id, :checked => @roles_granted.include?(role)}
                  %label.custom-control-label{:for => checkbox_id}
              %td
                = role.name

  .text-center
    %button{:class => 'btn btn-primary btn-lg', :type => 'submit', :name => 'submit', :value => 'Submit'}
      Submit
