%h1.display-4.text-center
  = "Edit Perspective #{@p_name}"

%form{:method => 'POST'}
  %fieldset
    %legend.h2
      Add A New Substitution
      
    .form-group
      %label.main_input{:for => 'master_word'}
        Master Word/Phrase:
      %input.form-control#master_word{:type => 'text', :name => 'master_word', :placeholder => 'Word to be Replaced'}

    .form-group
      %label.main_input{:for => 'replacement_word'}
        Replacement Word/Phrase:
      %input.form-control#replacement_word{:type => 'text', :name => 'replacement_word', :placeholder => 'Replacement Word'}
    
  %fieldset
    %legend.h2
      Existing Substitutions
    .collection_content_data
      %table.table.table-bordered
        %thead.thead-dark
          %tr
            %th{:width => '5px', :scope => 'col'}
              Delete Substitutions
            %th{:scope => 'col'}
              Master Word/Phrase
            %th{:scope => 'col'}
              Substitute Word/Phrase
        %tbody
          - @perspective_substitutions.each_with_index do |sub, i|
            - checkbox_id = "deletePerspectiveCheckbox#{i}"
            %tr
              %td.checkbox
                .custom-control.custom-checkbox.d-inline-flex
                  %input.custom-control-input.position-static{:id => checkbox_id, :type => 'checkbox', :name => 'subs_to_del[]', :value => sub.pk}
                  %label.custom-control-label{:for => checkbox_id}
              %td
                = sub.master_word
              %td
                = sub.replacement_word
  .text-center              
    %button{:class => 'btn btn-lg btn-primary', :type => 'submit', :name => 'submit', :value => 'Submit'}
      Submit
