%h1.text-center.display-4
  Forgot Password
  
-if @user_error
  .message_error.alert.alert-danger
    = @user_error


- if @email_response_message
  #email_confirm_div.h1
    = @email_response_message
- else
  %form.custom-validation-form{:method => 'POST', :novalidate => true}
    %fieldset
      %legend
        Forgot Password
      .form-group.row
        %label.col-sm-2.col-form-label.col-form-label-lg{:for => 'email'}
          Email:
        .col-sm-10
          %input.form-control.form-control-lg#email{:type => 'email', :name => 'email', :value => @email, :required => true, :placeholder => 'example@example.com'}
          .invalid-feedback
            Please provide a valid email address.
          
      .text-center
        %button{:class => 'btn btn-lg btn-primary', :type => 'submit', :name => 'submit', :value => 'Email Me'}
          Email Me
                        