%p
  Hello #{@user.login}
%p
  You have requested to have your password reset for your account.  
%p
  Please visit this url to reset your password
%p
  <a href=#{@site_url}/gb_users/reset_password/#{@user.password_reset_token}>Reset Password</a>