#prometheus_notice
  = @login_or_register_blurb

- if @user_error
  .message_error.alert.alert-danger
    = @user_error

%form.custom-validation-form.mb-2{:method => 'POST', :novalidate => true, :id => 'login-form'}
  %input{:type => 'hidden', :name => 'request_type', :value => 'Login'}
  %fieldset
    %legend
      Login.
    .form-group.login-form-group
      %label{:for => 'login'}
        Username:
      %input#login.form-control{:type => 'text', :name => 'login', :value => @username, :autofocus => true, :autocomplete => 'on', :placeholder => 'Username', :required => true}
      .invalid-feedback
        Please provide a valid username.
        
    .form-group
      %label{:for => 'password'}
        Password:
      %input#password.form-control{:type => 'password', :name => 'password', :placeholder => 'Password', :required => true}
      .invalid-feedback
        A password is required
      - unless Gui.option(:disable_send_email)
        .forgot-password
          %a{:href => '/gb_users/forgot_password', :name => 'forgot_password_link'}
            Forgot Password?
    .text-center
      %input.submission_button.btn.btn-primary.login_button{:type => 'submit', :name => 'submit', :value => 'Login'}
    
      .register-new-account
        %br
        Don't have an account?
        %br
        %a.registration_link{:href => '/gb_users/register', :name => 'register'}
          Register Here
      
  

    