%h1.page_title.dislpay-4.text-center
  Options
  
- @opts.each do |opt, val|
  %div
    = ':' + opt.to_s  
  - val = val ? val : 'nil'
  - val = val.pretty_inspect if val.is_a?(Hash)
  %textarea{:type => 'text', :name => opt.to_s, :id => opt.to_s, :disabled => true, :style => 'width :  400px; resize : both;'}
    = val.to_s
  
