%h1.page_title.display-4.text-center
  User Preferences

- @notices.each do |notice|
  .message_success.alert.alert-info.alert-dismissible.fade.show{:role => 'alert'}
    = notice
    %button{:type => 'button', :class => 'close', 'data-dismiss' => 'alert', 'aria-label' => 'Close'}
      %span{'aria-hidden' => true}
        &times;
- @errors.each do |error|
  .message_error.alert.alert-danger.alert-dismissible.fade.show{:role => 'alert'}
    = error
    %button{:type => 'button', :class => 'close', 'data-dismiss' => 'alert', 'aria-label' => 'Close'}
      %span{'aria-hidden' => true}
        &times;

%form.custom-validation-form.mb-2{:method => 'POST', :novalidate => true}
  %fieldset
    %legend.h2
      Change Password
    
    .form-group
      %label{:for => 'old_password'}
        Old Password:
      %input#old_password.form-control{:type => 'password', :name => 'old_password', :placeholder => 'Password', :minlength => 5}
      .invalid-feedback
        The password must have a length of 5 or more characters
    
    .form-group
      %label{:for => 'new_password'}
        New Password:
      %input#new_password.form-control{:type => 'password', :name => 'new_password', :placeholder => 'New Password', :minlength => 5}
      .invalid-feedback
        The new password must have a length of 5 or more characters
    
    .form-group 
      %label{:for => 'reenter_new_password'}
        Re-enter New Password:
      %input#reenter_new_password.form-control{:type => 'password', :name => 'reenter_new_password', :placeholder => 'New Password Confirmation', :minlength => 5}
      .invalid-feedback
        The entered new password and re-enter new password fields must match
  
  - unless Gui.option(:disable_send_email)
    %fieldset
      %legend.h2
        Change Email
        
      .form-group
        %label{:for => 'email'}
          Email:
        %input#email.form-control{:type => 'email', :name => 'email', :placeholder => 'example@example.com'}
        .invalid-feedback
          Please enter a valid email adddress
  
  %fieldset
    %legend.h2
      Change Name
    
    .form-group
      %label{:for => 'first_name'}
        First Name:
      %input#first_name.form-control{:type => 'text', :name => 'first_name', :value => @first_name, :placeholder => 'First Name'}
    
    .form-group
      %label{:for => 'last_name'}
        Last Name:
      %input#last_name.form-control{:type => 'text', :name => 'last_name', :value => @last_name, :placeholder => 'Last Name'}
  
  %fieldset.form-group
    %legend.h2
      Accessibility Options
    .custom-control.custom-checkbox
      %input.custom-control-input{:id => 'use_accessibility', :type => 'checkbox', :name => 'use_accessibility', :checked => @use_accessibility}
      %label.custom-control-label{:for => 'use_accessibility'}
        Use accessible interface?

  - if @perspectives.any?
    %fieldset.custom-controls-stacked
      %legend.h2
        Perspectives   
      - @perspectives.each_with_index do |perspective, i|
        .custom-control.custom-checkbox
          %input.custom-control-input{:id => "perspective_#{i}", :type => 'checkbox', :name => 'perspectives[]', :value => perspective.pk, :checked => @user_perspectives.include?(perspective)}
          %label.custom-control-label{:for => "perspective_#{i}"} 
            = perspective.name
  .text-center
    %button{:class => 'btn btn-primary btn-lg', :type => 'submit', :name => 'submit', :value => 'Submit'}
      Submit
