:javascript
  function validateAgreementChecked() {
    var agree_box = document.getElementById('agree')
    if(agree_box.checked)
    {
      // alert('Checked')
      document.getElementById('agree_chk_error').style.visibility='hidden';
      return true;
    }
    else
    {
      // alert('Not checked')
      document.getElementById('agree_chk_error').style.visibility='visible';
      return false;
    }
  }
  
- if @new_account
  .center
    Welcome, #{@new_account.login}.  You may login to your new account on the
    %a{:href => '/gb_users/login'} Login
    page.
- else
  - if @first_user
    %div{ :style => 'margin: 0 20% 1em' }
      No user accounts have yet been registered.  The first account will
      automatically be granted administrative privileges.  Please choose your
      password carefully.
      %div{ :style => 'height: 1em' }

#prometheus_notice
  = @login_or_register_blurb

- if @user_error
  .message_error.alert.alert-danger
    = @user_error
#already-have-account
  Already have an account?
  = succeed '.' do
    %a{:href => '/gb_users/', :name => 'login'}
      Login Here
  
%form.custom-validation-form.mb-2{:method => 'POST', :novalidate => true, :id => 'register-form', :onsubmit=>"validateAgreementChecked()"}
  %fieldset
    %legend
      %br
      Register.
    .form-group
      %label{:for => 'first_name'} First Name:
      %input#first_name.form-control{:type => 'text', :name => 'first_name', :value => @first_name, :placeholder => 'First Name'}

    .form-group
      %label{:for => 'last_name'} Last Name:
      %input#last_name.form-control{:type => 'text', :name => 'last_name', :value => @last_name, :placeholder => 'Last Name'}
    
    .form-group
      %label{:for => 'login'} Username:
      %input#login.form-control{:type => 'text', :name => 'login', :value => @username, :required => true, :placeholder => 'Username'}
      .invalid-feedback
        Please provide a valid username.
  
    .form-group
      %label{:for => 'password'} Password:
      %input#password.form-control{ :type => 'password', :name => 'password', :required => true, :placeholder => 'Password'}
      .invalid-feedback
        Please provide a password for the new account.
  
    .form-group
      %label{:for => 'reenter_password'} Re-enter Password:
      %input#reenter_password.form-control{ :type => 'password', :name => 'reenter_password', :required => true, :placeholder => 'Confirm Password'}
      .invalid-feedback
        Please re-enter the password for confirmation.
  
    .form-group
      %label{:for => 'email'} Email:
      %input#email.form-control{ :type => 'email', :name => 'email', :placeholder => 'example@example.com'}
  
    - unless @first_user
      .form-group
        %label{:for => 'invitation'} Invitation Code:
        %input#invitation.form-control{ :type => 'text', :name => 'invitation', :value => @invitation_code, :required => Gui.option(:enable_registration_without_inv_code) ? nil : true, :placeholder => 'Invitation Code'}
        .invalid-feedback
          Please provide an invitation code to register for a new account.
    %div
      %input#agree{:type=>"checkbox", :name=>"agree", :checked=>false}
      %label{:for=>"agree"}
        I have read and agree to the Terms and Conditions and Privacy Policy specified below.
      %div.agree_chk_error
        Can't proceed as you didn't agree to the terms!
    
    .text-center
      %br
      %input.submission_button.btn.btn-primary.registration_button{:type => 'submit', :name => 'submit', :value => 'Register'}

= @license_agreement
