-if @user_error
  .message_error
    = @user_error

%fieldset
  %legend
    -if @user
      Reset Password for #{@user.login}
    -else
      Reset Password
  %br
  -if @password_reset_successful_message
    Your password has been successfully reset. Please login using your new password.
  -else
    %p
      Please enter a new password in the fields below to change the password associated with your account.
    %br
    %form{:method => 'POST'}
      .input
        %label.floatL.main_input{:for => 'new_password'}
          New Password:
        %input#new_password{:type => "password", :name => "new_password"}
        .clear
      .input
        %label.floatL.main_input{:for => 'reenter_new_password'}
          Re-enter New Password:
        %input#reenter_new_password{:type => "password", :name => "reenter_new_password"}
        .clear
      .input.no_label
        %input.submission_button{ :type => "submit", :name => "Reset Password", 
                          :value => "Reset Password"}
