%h1.page_title.dislpay-4.text-center
  Site Administration
  
%form{:method => 'POST', :autocomplete => 'off'}
  
  %fieldset.mb-2.thick-border-bottom
    %legend.h2
      Administrators
    .collection_content_data
      %table.table.table-bordered
        %thead.thead-dark
          %tr
            %th{:width => '5px', :scope => 'col'}
              Delete
            %th{:scope => 'col'}
              Username
        %tbody
          - @admins.each_with_index do |admin, i|
            - checkbox_id = "deleteSiteAdminCheckbox#{i}"
            %tr
              %td.checkbox
                .custom-control.custom-checkbox.d-inline-flex
                  %input.custom-control-input.position-static{:id => checkbox_id, :type => 'checkbox', :name => 'site_admins_to_del[]', :value => admin.pk}
                  %label.custom-control-label{:for => checkbox_id}
              %td
                = admin.login
  %fieldset.mb-2.thick-border-bottom
    %legend.h2
      Add a New Administrator
      
      //This is a janky fix to stop chrome and other browsers from autofilling these two fields it hopefully won't screw up the form submit
      %input{:type => 'text', :name => 'new_login', :style => 'display:none'}
      %input{:name => 'new_password', :type => 'password', :style => 'display:none'}
      
      .form-group
        %label{:for => 'new_login'}
          Username:
        %input.form-control#new_login{:type => 'text', :name => 'new_login', :autocomplete => 'off', :placeholder => "Username"}
        
      .form-group
        %label{:for => 'new_password'}
          Password:
        %input.form-control#new_password{:type => 'password', :name => 'new_password', :autocomplete => 'off', :placeholder => 'Password'}
        
      .form-group
        %label{:for => 'new_email'}
          Email:
        %input.form-control#new_email{:type => 'email', :name => 'new_email', :value => '', :autocomplete => 'off', :placeholder => 'example@example.com'}
        
        
  %fieldset.mb-2.thick-border-bottom
    %legend.h2
      Roles
    .collection_content_data
      %table.table.table-bordered
        %thead.thead-dark
          %tr
            %th{:width => '5px', :scope => 'col'}
              Delete
            %th{:scope => 'col'}
              Role Name
        %tbody
          - @roles.each_with_index do |role, i|
            - checkbox_id = "roleDeleteCheckbox#{i}"
            %tr
              %td.checkbox
                - unless role.admin?
                  .custom-control.custom-checkbox.d-inline-flex
                    %input.custom-control-input.position-static{:id => checkbox_id, :type => 'checkbox', :name => 'roles_to_del[]', :value => role.pk}
                    %label.custom-control-label{:for => checkbox_id}     
              %td
                = role.name
    
  %fieldset.mb-2.thick-border-bottom
    %legend.h2
      Add a new Role
    .form-group
      %label{:for => 'role_name'}
        Add Role:
      %input.form-control#role_name{:type => "text", :name => "role_name", :placeholder => 'Role Name'}

  %fieldset.mb-2.thick-border-bottom
    %legend.h2
      Manage Password Requirements
    #password_requirements.collection_content_data
      %table.table.table-bordered
        %thead.thead-dark
          %tr
            %th{:width => '5px', :scope => 'col'}
              Delete
            %th{:scope => 'col'}
              Regular Expression
            %th{:scope => 'col'}
              Description
            %th{:scope => 'col'}
              Failure Message
            %th.center{:width => '30px', :scope => 'col'}
              Edit
        %tbody
          - @passwd_rules.each_with_index do |password_requirement, i|
            - checkbox_id = "deletePasswordRequirementCheckbox#{i}"
            %tr
              %td.checkbox
                .custom-control.custom-checkbox.d-inline-flex
                  %input.custom-control-input.position-static{:id => checkbox_id, :type => 'checkbox', :name => 'password_requirements_to_del[]', :value => password_requirement.pk}
                  %label.custom-control-label{:for => checkbox_id}              
              %td
                = password_requirement.regular_expression
              %td
                = password_requirement.description
              %td
                = password_requirement.failure_message
              %td
                %a{:href => "/gb_users/edit_regex?regex=#{password_requirement.pk}"} 
                  Edit
                  
  %fieldset.mb-2.thick-border-bottom
    %legend.h2
      Add a New Password Requirement
      
    #new_password_requirement
      .form-group
        %label{:for => 'password_requirement_regexp'}
          Regular Expression:
        %input.form-control#password_requirement_regexp{:type => 'text', :name => 'password_requirement_regexp', :placeholder => 'Regex'}
        %small.text-muted.form-text
          regex must include the slashes example: /^[^\+]*$/
      .form-group
        %label{:for => 'password_requirement_description', :placeholder => 'Requirement Description'}
          Description:
        %input.form-control#password_requirement_description{:type => 'text', :name => 'password_requirement_description', :placeholder => 'Regex Description'}
      
      .form-group
        %label{:for => 'password_requirement_failure_message'}
          Failure Message:
        %input.form-control#password_requirement_failure_message{:type => 'text', :name => 'password_requirement_failure_message', :placeholder => 'Failure Message'}     

  %fieldset.mb-2.thick-border-bottom
    %legend.h2
      Manage Perspectives
    .collection_content_data
      %table.table.table-bordered
        %thead.thead-dark
          %tr
            %th{:width => '5px', :scope => 'col'}
              Delete
            %th
              Perspective Name
            %th.center{:width => '30px', :scope => 'col'}
              Edit
        %tbody
          - @perspectives.each_with_index do |perspective, i|
            %tr
              %td.checkbox
                .custom-control.custom-checkbox.d-inline-flex
                  %input.custom-control-input.position-static{:id => "perspective_#{i}", :type => 'checkbox', :name => 'perspectives_to_del[]', :value => perspective.pk}
                  %label.custom-control-label{:for => "perspective_#{i}"}
              %td
                = perspective.name
              %td
                %a{:href => "/gb_users/edit_perspective?perspective=#{perspective.pk}"} 
                  Edit
  %fieldset.mb-2.thick-border-bottom
    %legend.h2
      Add a New Perspective
    
    .form-group
      %label{:for => 'perspective_name'}
        Add Perspective:
      %input.form-control#perspective_name{:type => "text", :name => 'perspective_name', :placeholder => 'Perspective Name'}
    
    .form-group
      %label{:for => 'perspective_base'}
        Based On:
      %select.form-control#perspective_base{:name => 'perspective_base'}
        %option{:value => 'no_base'}
          = '-'
        - @perspectives.each do |perspective|
          %option{:value => perspective.pk}
            = perspective.name
  %a{:href => '/gb_enumerations/enumerations'} Manage Enumerations
  <br>
  %a{:href => '/gb_users/opts'} Settings
  <br>
  - if Gui.option(:enable_db_download)
    %a{:class => 'btn btn-primary', :href => '/gb_users/db_download', :role => 'button'} Download Database
  .text-center
    %button#submit_admin.submission_button{:class => 'btn btn-lg btn-primary', :type => 'submit', :name => 'submit', :value => 'Submit'}
      Submit
