%h1.display-4.text-center
  User Administration

%form{:method => 'POST', :autocomplete => 'off'}
  %fieldset.thick-border-bottom.mb-2
    %legend.h2
      Delete Existing Users
    .collection_content_data
      %table.table.table-bordered
        %thead.thead-dark
          %tr
            %th{:scope => 'col'}
              Delete
            %th{:scope => 'col'}
              Username
        %tbody
          - @all_users.each_with_index do |this_user, i|
            - checkbox_id = "deleteUserCheckbox#{i}"
            %tr
              %td.checkbox
                .custom-control.custom-checkbox.d-inline-flex
                  %input.custom-control-input.position-static{:id => checkbox_id, :type => 'checkbox', :name => 'users_to_del[]', :value => this_user.pk}
                  %label.custom-control-label{:for => checkbox_id}
              %td
                = this_user.login
  
  %fieldset.thick-border-bottom.mb-2
    %legend.h2
      Add a New User
      
      //This is a janky fix to stop chrome and other browsers from autofilling these two fields it hopefully won't screw up the form submit
      %input{:type => 'text', :name => 'new_login', :style => 'display:none'}
      %input{:name => 'new_password', :type => 'password', :style => 'display:none'}
      
    .form-group
      %label{:for => 'new_login'}
        Username:
      %input.form-control#new_login{:type => 'text', :name => 'new_login', :autocomplete => 'off', :placeholder => 'Login Name'}
    
    .form-group
      %label{:for => 'new_password'}
        Password:
      %input.form-control#new_password{:type => 'password', :name => 'new_password', :autocomplete => 'off', :placeholder => 'Password'}
    
    .form-group
      %label{:for => 'new_email'}
        Email:
      %input.form-control#new_email{:type => 'email', :name => 'new_email', :autocomplete => 'off', :placeholder => 'example@example.com'}
  
  %fieldset.thick-border-bottom.mb-2
    %legend.h2
      Role Assignments
    
    .collection_content_data
      %table.table.table-bordered
        %thead.thead-dark
          %tr
            %th{:scope => 'col'}
              Username
            - @roles.each do |role|
              %th{:scope => 'col'}
                = role.name
        
        %tbody
          - @all_users_with_roles.each do |this_user, user_roles|
            %tr
              %th{:scope => 'row'}
                = this_user.login
                %input{:type => 'hidden', :name => "users_roles[#{this_user.id}][]", :value => ''}
              - @roles.each_with_index do |role, i|
                - checkbox_id = "#{this_user}#{i}RoleAssignmentCheckbox"
                %td
                  .custom-control.custom-checkbox.d-inline-flex
                    %input.custom-control-input.position-static{:id => checkbox_id, :type => 'checkbox', :name => "users_roles[#{this_user.id}][]", :value => role.id, :checked => user_roles.include?(role)}
                    %label.custom-control-label{:for => checkbox_id}
  
  %fieldset.thick-border-bottom.mb-2
    %legend.h2
      Manage Existing Email Requirements
      
    #email_requirements.collection_content_data
      %table.table.table-bordered
        %thead.thead-dark
          %tr
            %th{:width => '5px', :scope => 'col'}
              Delete
            %th{:scope => 'col'}
              Regular Expression
            %th{:scope => 'col'}
              Description
            %th{:scope => 'col'}
              Failure Message
            %th.center{:width => '30px', :scope => 'col'}
              Edit
        %tbody
          - @email_requirements.each_with_index do |email_requirement, i|
            - checkbox_id = "deleteEmailRequirementCheckbox#{i}"
            %tr
              %td.checkbox
                .custom-control.custom-checkbox.d-inline-flex
                  %input.custom-control-input.position-static{:id =>checkbox_id, :type => 'checkbox', :name => 'email_requirements_to_del[]', :value => email_requirement.pk}
                  %label.custom-control-label{:for => checkbox_id}
              %td
                = email_requirement.regular_expression
              %td
                = email_requirement.description
              %td
                = email_requirement.failure_message
              %td
                %a{:href => "/gb_users/edit_regex?regex=#{email_requirement.pk}"}
                  Edit
  
  %fieldset.mb-2.thick-border-bottom
    %legend.h2
      Add a New Email Requirement
    
    .form-group
      %label{:for => 'email_requirement_regexp'}
        Regular Expression:
      %input.form-control#email_requirement_regexp{:type => 'text', :name => 'email_requirement_regexp', :placeholder => 'Regex'}
      %small.text-muted.form-text
        regex must include the slashes example: /^[^\+]*$/
      
    .form-group
      %label{:for => 'email_requirement_description'}
        Description:
      %input.form-control#email_requirement_description{:type => 'text', :name => 'email_requirement_description', :placeholder => 'Requirement Description'}
    
    .form-group
      %label{:for => 'email_requirement_failure_message'}
        Failure Message:
      %input.form-control#email_requirement_failure_message{:type => 'text', :name => 'email_requirement_failure_message', :placeholder => 'Failure Message'}
      
      
  %fieldset.thick-border-bottom.mb-2
    %legend.h2
      Invitation Codes (edit to add roles)
    .collection_content_data
      %table.table.table-bordered
        %thead.thead-dark
          %tr
            %th{:width => '5px', :scope => 'col'}
              Delete
            %th{:scope => 'col'}
              Code
            %th{:scope => 'col'}
              Expires
            %th{:scope => 'col'}
              Uses Remaining
            %th{:scope => 'col'}
              Edit
        %tbody
          - @invitations.each_with_index do |invitation, i|
            - checkbox_id = "deleteInvitationCodeCheckbox#{i}"
            %tr
              %td.checkbox
                .custom-control.custom-checkbox.d-inline-flex
                  %input.custom-control-input.position-static{:id => checkbox_id, :type => 'checkbox', :name => 'invitations_to_del[]', :value => invitation.pk}
                  %label.custom-control-label{:for => checkbox_id}
              %td
                = invitation.code
              %td
                = invitation.expires
              %td
                = invitation.uses_remaining
              %td
                %a{:href => "/gb_users/edit_invitation_code?invitation_code=#{invitation.pk}"} 
                  Edit
    %a{:href => '/gb_users/edit_invitation_code?invitation_code=new'}
      Create A New Invitation Code
  
  .text-center
    %button#submit_admin.submission_button{:class => 'btn btn-lg btn-primary', :type => 'submit', :name => 'submit', :value => 'Submit'}
      Submit
