%h1.page_title
  Confirm Email

-if @user_error
  .message_error
    = @user_error

%fieldset
  %legend
    Email Verified for #{@user.login}
  %br
  The email account #{@user.email} has been verified.
  %input{:type => "hidden", :name => "request_type", :value => "Confirmed Email"}