%p
  Hello #{@user.login}
%p
  Confirm that this is the correct email that is to be associated with your account by visiting the url below.  
%p
  <a href=#{@site_url}/gb_users/verify_email/#{@user.id}/#{@user.email_confirmation_token}>Verify This Email Account</a>