/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .strongButton a {
	background-image:url(images/bold.png);
}
.markItUp .italicButton a {
	background-image:url(images/italic.png);
}
.markItUp .strikethroughButton a {
	background-image:url(images/stroke.png);
}
.markItUp .underlineButton a {
	background-image:url(images/underline.png);
}

.markItUp .alignCenterButton a {
	background-image:url(images/align_center.png);
}

.markItUp .alignLeftButton a {
	background-image:url(images/align_left.png);
}

.markItUp .alignRightButton a {
	background-image:url(images/align_right.png);
}

.markItUp .smallCapsButton a {
	background-image:url(images/smallcaps.png);
}

.markItUp .subscriptButton a {
	background-image:url(images/subscript.png);
}

.markItUp .superscriptButton a {
	background-image:url(images/superscript.png);
}

.markItUp .smallSkipButton a {
	background-image:url(images/arrow_down.png);
}

.markItUp .mediumSkipButton a {
	background-image:url(images/arrow_down_double.png);
}

.markItUp .chemicalEquationButton a {
	background-image:url(images/chem_equation.png);
}

.markItUp .textRMButton a {
	background-image:url(images/normal_text.png);
}

.markItUp .curlyBracesButton a {
	background-image:url(images/curly_braces.ico);
}

.markItUp .partialPressureOxygen a {
  background-image:url(images/partial_pressure_oxygen.png);
}

.markItUp .degree a {
  background-image:url(images/degree.png);
}

.markItUp .mathModeButton a {
	background-image:url(images/money_dollar.png);
}

.markItUp .mathSubscriptButton a {
	background-image:url(images/subscript.png);
}

.markItUp .mathSuperscriptButton a {
	background-image:url(images/superscript.png);
}

.markItUp .numberedEquationButton a {
	background-image:url(images/function_icon.png);
}

.markItUp .unnumberedEquationButton a {
	background-image:url(images/function_icon.png);
}

.markItUp .workingNumber a {
  background-image:url(images/text_letter_omega.png);
}

.markItUp .greekCharacters > a {
  background-image:url(images/text_letter_omega.png);
}

  .markItUp .greekCharacters ul {
  	width:230px;
  	padding:1px;	
  }
  .markItUp .greekCharacters  li {
  	border:1px solid white;
  	width:75px;	height:20px;
  	overflow:hidden;
  	padding:0px; margin:0px;
  	line-height:20px;
    vertical-align: middle;
  	float:left;
  }

  .markItUp .greekCharacters ul a {
    padding: 0px;
  }


.markItUp .mathSymbols > a {
  background-image:url(images/sum.png);
}
  .markItUp .mathSymbols ul {
  	width:106px;
  	padding:1px;	
  }
  .markItUp .mathSymbols  li {
  	border:3px solid white;
  	width:100px;	height:20px;
  	overflow:hidden;
  	padding:0px; margin:0px;
    line-height:20px;
    vertical-align: middle;
    float:left;
  }

  .markItUp .mathSymbols ul a {
    padding: 0px;
  }


.markItUp .tableMenu > a {
	background-image:url(images/table.png);
}

.markItUp .insertTable a {
	background-image:url(images/table_add.png);
}

.markItUp .clean a {
	background-image:url(images/clean.png);
}
.markItUp .preview a {
	background-image:url(images/preview_icon.png);
}

.markItUp .download a {
	background-image:url(images/download.png);
}

.markItUp .phaseDiagram a {
	background-image:url(images/phase_diagram_icon.png);
}

.markItUp .captions a {
	background-image:url(images/bubble.png);
}
