!!! Strict

%html{:lang => 'en'}
  %head
    %meta{:'http-equiv'=>'Content-Type', :content =>'text/html; charset=UTF-8'}
    -# Bad value for html5, but necessary for older IEs
    %meta{:'http-equiv'=>'cache-control', :content => 'no-cache'}
    -# 'expires' is not used in HTML5 (error in w3 validator). IE may treat 0 as cache never expires, other browsers treate as no-cache.
    -# -1 for most browsers means never cache, but IE will have errors with it.
    %meta{:'http-equiv'=>'expires', :content => '0'}
    
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1, shrink-to-fit=no"}

    - if flash[:trigger_action_download]
      / Current implementation of file download uses meta tag with the URL being the output of this HAML file.
      / alternatively could implement JQuery download here if meta tag doesn't work out
      %meta{:'http-equiv'=>'refresh', :content => "0; URL=#{flash[:trigger_action_download]}"}
    
    %style{:type => 'text/css' }
      @import "/css/bootstrap/bootstrap.min.css";
      @import "/css/ui-lightness/jquery-ui-1.10.3.custom.min.css";
      @import "/css/bootstrap/bootstrap-select/bootstrap-select.min.css";
      @import "/fonts/font-awesome/css-files/all.min.css";
      @import "/css/main.css";
    
    - # Stuff that's only needed for testing
    / - if Gui.option(:testing_mode)
    /   %style{:type => 'text/css' }
    /     @import "/css/only_for_testing.css";
    
    - if Gui.option(:disable_external_resources)
      %script{:type => 'text/javascript', :src => '/js/prometheus/disabled_scripts.js'}
    - else
      - # MathJax Script
      %script{:type => 'text/javascript', :src => "/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML", :defer => true}
      - # Test Scripts for CKEditor Wysiwg editor
      / %script{:type => 'text/javascript', :src => "/ckeditor/ckeditor.js", :defer => true}
    
    - # Bootstrap, jQuery, and jQuery ui
    %script{:type => 'text/javascript', :src => '/js/jq/jquery-3.6.0.min.js'}
    %script{:type => 'text/javascript', :src => '/js/jq/jquery-ui.min.js'}
    %script{:type => 'text/javascript', :src => '/js/bootstrap/bootstrap.bundle.min.js'}
    %script{:type => 'text/javascript', :src => '/js/bootstrap/bootstrap-select/bootstrap-select.min.js'}
    - # Plugins
    %script{:type => 'text/javascript', :src => '/js/jq/jquery.mousewheel.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/jq/jquery.blockUI.min.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/js_utils.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/garlic.js', :defer => true}
    
    - # This file and any other ES6 javascript has to be compiled with Babel or some other transpilor to work with old browsers like the capybara browser
    - if Gui.option(:mode) == :dev
      %script{:type => 'text/javascript', :src => '/js/prometheus/es6_classes.js', :defer => true}
      %script{:type => 'text/javascript', :src => '/js/prometheus/load_spec.js', :defer => true}
    - else
      %script{:type => 'text/javascript', :src => '/js/prometheus/compiled-es6.js', :defer => true}
      
    - # Prometheus JS
    %script{:type => 'text/javascript', :src => '/js/prometheus/change_listeners.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/prometheus/common.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/prometheus/compatibility.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/prometheus/load_functions.js', :defer => true}
    - # main.js
    %script{:type => 'text/javascript', :src => '/js/prometheus/main.js', :defer => true}
      
    - if Gui.option(:favicon)
      %link{:rel => 'shortcut icon', :href => Gui.option(:favicon)}
      
    %title
      = Gui.option(:spec_title)
  
  %body{:class => 'fixed-topnav'}
    %header
      - if Gui.option(:top_nav_bar)
        /Start of top nav bar
        %nav#nav_bar{:class => 'navbar navbar-expand-lg navbar-dark bg-primary fixed-top'}
          %a.pl-2{:class => 'navbar-brand app_title', :href => Gui.option(:home_page)[:url]}
            = Gui.option(:spec_title)
                    
    /start of main content
    %main#wrapper.container.mb-4
      .message_box{:style => 'border-top-left-radius: 10px; border-top-right-radius: 10px; overflow:hidden;'}
        - if flash[:message]
          #message
            = flash[:message]
        - if @message_error
          .message_error
            = @message_error
        - if @message_success
          .alert.alert-success
          = @message_success
        - flash_error_messages = flash[:error_messages]; flash[:error_messages] = []
        - if flash_error_messages && !flash_error_messages.empty?
          - flash_error_messages.each do |error_message|
            .message_error.alert.alert-danger.alert-dismissible.fade.show{:role => 'alert'}
              = error_message
              %button{:type => 'button', :class => 'close', 'data-dismiss' => 'alert', 'aria-label' => 'Close'}
                %span{'aria-hidden' => true}
                  &times;
        - flash_info_messages = flash[:info_messages]; flash[:info_messages] = []
        - if flash_info_messages && !flash_info_messages.empty?
          - flash_info_messages.each do |info_message|
            .message_success.alert.alert-success.alert-dismissible.fade.show{:role => 'alert'}
              = info_message
              %button{:type => 'button', :class => 'close', 'data-dismiss' => 'alert', 'aria-label' => 'Close'}
                %span{'aria-hidden' => true}
                  &times;
      .content
        = @content
    %footer#footer
      %p#prometheus_statement.text-center.text-white
        = "&copy; Prometheus Computing, LLC #{Time.now.strftime("%Y")}"

  - if html_script_string = Gui.option(:string_html_scripts)
    = html_script_string
