.modal.fade{:id => 'addAssociationModal', :tabindex => '-1', :role => 'dialog', 'aria-labelledby' => 'addAssociationModalLabel', 'aria-hidden' => true}
  .modal-dialog.modal-lg{:role => 'document'}
    .modal-content
      .modal-header
        %h5.modal-title{:id => 'addAssociationModalLabel'}
          Add New Association(s)
        %button{:type => 'button', :class => 'close', 'data-dismiss' => 'modal', 'aria-label' => 'Close'}
          %span{'aria-hidden' => true}
            &times;
      .modal-body
        .add-association-information
          %input.widget_id{:type => 'hidden', :name => 'widget_id', :value => @widget_id}
          %input.parent_data_classifier{:type => 'hidden', :name => 'parent_data_classifier', :value => @parent_data_classifier}
          %input.parent_data_id{:type => 'hidden', :name => 'parent_data_id', :value => @parent_data_id}
          %input.view_name{:type => 'hidden', :name => 'view_name', :value => @view_name}
          %input.getter{:type => 'hidden', :name => 'getter', :value => @getter}
          %input.possible_associations_count{:type => 'hidden', :name => 'possible_associations_count', :value => @possible_unassociated_count}
          - if @assoc_class_widget
            %input.association_class_widget{:type => 'hidden', :value => 'y'}
          %div
            = "Add a new item to #{@label}"
          %div
            %input#new_association_option{:type => 'radio', :name => 'association_option', :value => 'new', :checked => true}
            %label.not_bold{:for => "new_association_option"}
              A new
              %select#new_association_type{:name => 'new_association_type'}
                - @constructors.each do |constructor_hash|
                  - constructor_hash.each do |key, values|
                    %option.text-capitalize{:value => {:classifier => values[:classifier].to_s, :constructor_key => key.to_s}.to_json}
                      = values[:name].to_s.demodulize.titleize
            - unless @association_info[:composition]
              %div
                = "An existing #{@label}:"
              = @existing_associations_rendering
      .modal-footer
        %button{:id => 'cancelAddAssociationModal', :class => 'btn btn-secondary', 'data-dismiss' => 'modal'}
          Cancel
        %button{:id => 'confirmAddAssociationModal', 'aria-disabled' => true, :class => 'btn btn-primary'}
          Add Item


