.cloning-div{:readonly => true}
  - composition_names = @composition_associations.map { |ca| ca[:getter].to_s.to_capitalized_title }.english_join
  - message = "Clone this #{@domain_obj.class.to_title}"
  - message << " and its #{composition_names}" unless composition_names.empty?
  - if @composer_associations.any?
    = message + " into a: "
    %select#composer_getter{:name => 'composer_getter'}
      - @composer_associations.each do |composer_assoc|
        - composer_assoc_name = composer_assoc[:getter].to_s.to_capitalized_title
        %option{:value => composer_assoc[:getter], :selected => (composer_assoc == @current_composer_association)}
          = composer_assoc_name
      %option{:value => ''}
        - # TODO perhaps warn the user here if they are creating a clone that may be difficult to navigate or associate to
        None
    - @composer_associations.each_with_index do |ca, i|
      - is_selected_assoc = @current_composer_association ? @current_composer_association[:getter] == ca[:getter] : (i == 0)
      %div.composer_association{:id => "composer_association_#{ca[:getter]}", :style => is_selected_assoc ? '' : 'display: none;', :class => is_selected_assoc ? '' : 'hidden'}
        - if @current_composer_association && is_selected_assoc
          %input{:type => 'radio', :name => 'composer_option', :value => 'same', :checked => is_selected_assoc && @current_composer, :id => 'same_composer_option'}
          %label.not_bold{:for => 'same_composer_option'}
            = "The same #{@current_composer_association[:getter].to_s.to_capitalized_title}"
        %br
        %input{:type => 'radio', :name => 'composer_option', :value => 'new', :checked => is_selected_assoc && @current_composer.nil?, :id => "new_composer_option", :class => "new_composer_option"}
        %label.not_bold{:for => "new_composer_option"}
          = "A new"
          %select.new_composer_type{:id => "new_composer_type", :name => 'new_composer_type'}
            - @composer_associations_types[i].each do |type|
              %option{:value => type.to_s, :selected => (@current_composer.class == type)}
                = type.to_title
        
        %br
        One of the following:
        = @composer_selections[ca[:getter]]
  - else # No composers
    = message + '?'