/ #concurrency_popup.dialog{:title => concurrency_message, :class => 'concurrency_warning'}
/   #popupMessage.dialog_message{:readonly => false}
/     .center
/       -if concurrency_warnings.any?
/         - concurrency_warnings.each do |warning|
/           .message_error
/             = warning
/         %br
/       %div
/         %table
/           %tbody
/             %tr{:class => 'concurrency_header'}
/               %th
/               %td.select_all{:for => 'my_changes'}
/                 %input.select_all{:for => 'my_changes', type: 'radio', :name => 'select_all', :checked => false}
/               %th.select_all{:for => 'my_changes'}
/                 = 'Select all of your changes'
/               %td.select_all{:for => 'changes_found'}
/                 %input.select_all{:for => 'changes_found', type: 'radio', :name => 'select_all', :checked => false}
/               %th.select_all{:for => 'changes_found'}
/                 = 'Select all discovered changes'
/             = field_comparison


.modal.fade{:id => 'concurrencyWarningModal', :class => 'warning concurrency_warning', :tabindex => '-1', :role => 'dialog', 'aria-labelledby' => 'concurrencyModalLabel', 'aria-hidden' => true} 
  .modal-dialog.modal-lg{:role => 'document'}
    .modal-content
      .modal-header
        %h5.modal-title{:id => 'concurrencyModalLabel'}
          Concurrency Warning
        %button{:type => 'button', :class => 'close', 'data-dismiss' => 'modal', 'aria-label' => 'Close'}
          %span{'aria-hidden' => true}
            &times;
      .modal-body
        %p
          = concurrency_message
        .concurrency-warnings
          - if concurrency_warnings.any?
            - concurrency_warnings.each do |warning|
              .message_warning.alert.alert-warning.text-center
                = warning
        .concurrency-information   
          %table.table.table-bordered
            %tr{:class => 'concurrency_header'}
              %th{:scope => 'row'}
                Select All:
              %td{:colspan => '2'}
                .custom-control.custom-radio
                  %input.custom-control-input.select_all{:id => 'my-changes-concurrency-radio', :for => 'my_changes', :type => 'radio', :name => 'select_all', :checked => false}
                  %label.custom-control-label{:for => 'my-changes-concurrency-radio'}
                    Select all of your changes
              %td{:colspan => '2'}
                .custom-control.custom-radio
                  %input.custom-control-input.select_all{:id => 'found-changes-concurrency-radio', :for => 'changes_found', :type => 'radio', :name => 'select_all', :checked => false}
                  %label.custom-control-label{:for => 'found-changes-concurrency-radio'}
                    Select all discovered changes
            = field_comparison          
      .modal-footer
        %button{:class => 'btn btn-secondary', 'data-dismiss' => 'modal'}
          Cancel
        %button{:class => 'btn btn-primary', :id => 'concurrencyWarningAbandonChanges'}
          Abandon Your Changes
        %button{:class => 'btn btn-primary', :id => 'concurrencyWarningMergeChanges'}
          Merge