%div
  %table
    %tbody
      %tr{:class => 'concurrency_header'}
        %th
        %td.select_all{:for => 'my_changes'}
          %input.select_all{:for => 'my_changes', type: 'radio', :name => 'select_all', :checked => false}
        %th.select_all{:for => 'my_changes'}
          = 'Select all of your changes'
        %td.select_all{:for => 'changes_found'}
          %input.select_all{:for => 'changes_found', type: 'radio', :name => 'select_all', :checked => false}
        %th.select_all{:for => 'changes_found'}
          = 'Select all discovered changes'