.center
  - spec_files.each do |path|
    %a{:href => "?p=#{path}"}
      = File.basename(path, '.html').gsub(/_/, ' ')
    %br
  %br

- @views.each do |key, value|
  = value.view_name
  ;
  = value.data_classifier
  %br
