%ul.list-group{:id => 'collectionObjectsDeleteList'}
  - @objects_to_delete.each do |domain_obj, comps|
    - ([domain_obj] + comps).each do |obj|
      %li.list-group-item{'data-id' => "#{obj.id}", 'data-classifier' => "#{obj.class}"}
        The #{obj.class.to_title}
        - attributes = obj.class.attributes.reject { |attr_name, attr_info| ['File'].include?(attr_info[:type]) }
        - if attributes[:name]
          named: #{obj.name}
        - elsif attributes[:title]
          titled: #{obj.title}
        - elsif attributes.any?
          with:
          - attributes.each do |attr_name, attr_info|
            - next if attr_name == :id || attr_name.to_s =~ /_id$/ || attr_name.to_s =~ /_position$/
            - attr_value = case attr_info[:type]
            - when 'Gui_Builder_Profile::RichText'
              - val = obj.send(attr_info[:column].to_s + '_content')
              - val = val[0..40] + '...' if val && val.length > 43
              - val
            - when 'Gui_Builder_Profile::File'
              - obj.send(attr_info[:column].to_s + '_filename')
            - when 'File' # Skip File objects
              next
            - else
              - obj.send(attr_info[:column]) unless attr_info[:derived]
            - next if attr_value.nil? || attr_value.to_s.empty?
            %br
            &nbsp;&nbsp;&nbsp;&nbsp;#{attr_name}: #{attr_value}
        - else
          / Obj type has no attributes. Must show id
          with id: #{obj.id}