%h3
  %span
    500: Well, this isn't what we had hoped would happen.  We've logged this problem with id: 
  %span{:style => 'background-color : yellow;'}
    = @key
  %span>
    \. If you'd like to contact us about this error, please reference this id.

- if Gui.option(:mode) == :dev
  .developer_sees_error_message
    %br
    %hr
    %br
    %pre
      = @message
