/ TODO: move to independent sass file
:css
  .image_thumb, .image_thumb img {
    float:left;
    position:relative;
    width:150px;
    height:150px;
    margin:1px;
  }
  .delete_richtext_image {
    display:none;
    position:absolute;
    top:0px;
    right:0px;
    width:16px;
    height:16px;
    background-image:url(/images/x_16.png);
  }
  .image_thumb:hover .delete_richtext_image {
    display:block;
  }
  .delete_richtext_image:hover {
    background-image:url(/images/x_24.png);
    width:24px;
    height:24px;
  }


.modal.fade{:id => 'richTextImageUploadModal', :tabindex => '-1', :role => 'dialog', 'aria-labelledby' => 'richTextImageUploadLabel', 'aria-hidden' => true}
  .modal-dialog.modal-lg{:role => 'document'}
    .modal-content
      .modal-header
        %h5.modal-title{:id => 'richTextImageUploadLabel'}
          Upload or Select Image
        %button{:type => 'button', :class => 'close', 'data-dismiss' => 'modal', 'aria-label' => 'Close'}
          %span{'aria-hidden' => true}
            &times;
      .modal-body
        .image-upload-information
          .text-center.h5
            Upload a new image (jpg/png/gif) or select a previously uploaded image.
          %form{:enctype => 'multipart/form-data', :action => '/image_upload', :method => 'POST'}
            .form-group
              %label{:for => 'richTextImageUploadFileInput'}
                Select a new image to upload:
              %input.widget_data.image_upload_file.form-control{:id => 'richTextImageUploadFileInput', :name => @pretty_id + '_uploaded_images[]', :type => 'file', :data_name => 'uploaded_images'}
            - if @uploaded_images.any?
              %p
                Select a previously uploaded image:
              - @uploaded_images.each_with_index do |uploaded_image, i|
                - image, image_data = uploaded_image
                .image_thumb
                  %a.richtext_image_selector{:href => "#{@object_url}/images/#{image[:filename]}", :style => 'text-decoration: none;'}
                    %img{:id => "richtext_image_#{i}", :src => "data:#{image[:mime_type]};base64,#{image_data}", :alt => image[:filename]}
                    / Delete image icons from: http://designmodo.com/flat-free
                    %a.delete_richtext_image{:id => "delete_richtext_image_#{i}", :href => "#{@object_url}/delete_image/#{image[:filename]}"}
      .modal-footer
        %button{:class => 'btn btn-secondary', 'data-dismiss' => 'modal'}
          Cancel
        %button{:id => 'confirmRichTextImageUpload', 'aria-disabled' => true, :class => 'btn btn-primary disabled', :disabled => true}
          Upload

