.display-4.page_title.text-center
  = locals[:page_title] if locals[:page_title]
-# TODO Gui::Home changed to "GuiBuilder::Home" and broke this, must not be covered by test. Create test.
-#- view_type = breadcrumbs.any? ? (breadcrumbs.last.view_hash['view-type'] || Gui.loaded_spec.default_view_type) : nil
- last_breadcrumb = breadcrumbs.last
- view_type = last_breadcrumb && !last_breadcrumb.is_a?(Gui::UrlNavigationNode) && last_breadcrumb.view_hash['view-type'] || Gui.loaded_spec.default_view_type.to_s
- if last_breadcrumb && !(last_breadcrumb.is_a?(Gui::UrlNavigationNode) || last_breadcrumb.domain_obj_id == 'new' || last_breadcrumb.domain_obj_class.to_const < Gui::AdHocPageObject)
  / Note: Using .navigational_link for its visual style here. It doesn't have any other effect.
  / clone_link calls save_and_go on click
  - unless Gui.option(:tree_view)[:suppress]
    %button#split_container_into_panes_button.split_container_into_panes{:type => 'button', :class => 'btn btn-primary'}
      Display Tree View
  - if Gui.option(:clone) && breadcrumbs.any? && !Gui.option(:disable_cloning_for_views).include?(view_type)
    %button#cloneDomainObjectButton{:type => 'button', :class => 'btn btn-primary', 'data-toggle' => 'modal', 'data-target' => '#cloneDomainObjModal'}
      Clone
  -# Bad idea to piggy back off the breadcrumbs for the object history. What if breadcrumbs were disabled?
  -# I understand the point was to preserve breadcrumbs, as well as not having to add an additional parameter to fit the same purpose
  - if Gui.option(:object_history) && defined?(ChangeTracker) && last_breadcrumb && !Gui.option(:disable_history_for_views).include?(view_type)
    / Note: Using .navigational_link for its visual style here. It doesn't have any other effect.
    %a.change_tracker_link.save_and_go_link{ :href => last_breadcrumb.to_history_url}
      History
    
%form.main_form{ :method => 'POST', :enctype => 'multipart/form-data', :action => '/'}
  -# NOTE: Disabling breadcrumbs on specific views may break functions that depend on it (i.e. 'Discard Changes' button function)
  - if Gui.option(:enable_breadcrumbs) && !Gui.option(:disable_breadcrumbs_for_views).include?(view_type)
    %nav#breadcrumbs.breadcrumb_trail{'aria-label' => 'breadcrumb', :role => 'navigation'}
      - raise 'No breadcrumbs!' unless breadcrumbs
      - if breadcrumbs.any?
        %ol.breadcrumb
          - breadcrumbs.each_with_index do |node, position|
            - next unless node
            - if position == breadcrumbs.size - 1
              %li.breadcrumb-item.active{'aria-current' => 'page'}
                %input{ :type => 'hidden', :name => "breadcrumb-#{position}", :value => node.to_url.escape(:cgi)}
                %a.discard_and_go_link.navigational_link.disabled{ :id => "breadcrumb-#{position}", :href => node.to_url, :disabled => true}
                  = node.to_title
            - else
              %li.breadcrumb-item
                %input{ :type => 'hidden', :name => "breadcrumb-#{position}", :value => node.to_url.escape(:cgi)}
                %a.discard_and_go_link.navigational_link{ :id => "breadcrumb-#{position}", :href => node.to_url}
                  = node.to_title

- if @output
  - if locals[:new_associations]&.any? && !Gui.option(:disable_info_messages)
    - size = locals[:new_associations].size
    .message_success.text-center.alert.alert-success.alert-dismissible.fade.show{:role => 'alert'}
      Successfully created
      %b #{size}
      new association#{size == 1 ? '' : 's'}
      %button{:type => 'button', :class => 'close', 'data-dismiss' => 'alert', 'aria-label' => 'Close'}
        %span{'aria-hidden' => true}
          &times;
  - if locals[:broken_associations]&.any? && !Gui.option(:disable_info_messages)
    - size = locals[:broken_associations].size
    .message_success.text-center.alert.alert-success.alert-dismissible.fade.show{:role => 'alert'}
      Successfully broke
      %b #{locals[:broken_associations].size}
      association#{size == 1 ? '' : 's'}
      %button{:type => 'button', :class => 'close', 'data-dismiss' => 'alert', 'aria-label' => 'Close'}
        %span{'aria-hidden' => true}
          &times;
  - if locals[:deleted_associations]&.any? && !Gui.option(:disable_info_messages)
    - size = locals[:deleted_associations].size
    .message_success.text-center.alert.alert-success.alert-dismissible.fade.show{:role => 'alert'}
      Successfully deleted
      %b #{locals[:deleted_associations].size}
      association#{size == 1 ? '' : 's'}
      %button{:type => 'button', :class => 'close', 'data-dismiss' => 'alert', 'aria-label' => 'Close'}
        %span{'aria-hidden' => true}
          &times;
  - if locals[:broken_rule]
    .message_error.text-center.alert.alert-danger.alert-dismissible.fade.show{:role => 'alert'}
      = locals[:broken_rule]
      %button{:type => 'button', :class => 'close', 'data-dismiss' => 'alert', 'aria-label' => 'Close'}
        %span{'aria-hidden' => true}
          &times;
  - if locals[:page_content_error]
    .message_error.text-center.alert.alert-danger.alert-dismissible.fade.show{:role => 'alert'}
      = locals[:page_content_error]
      %button{:type => 'button', :class => 'close', 'data-dismiss' => 'alert', 'aria-label' => 'Close'}
        %span{'aria-hidden' => true}
          &times;
  - if locals[:latex_error]
    .message_error.text-center.alert.alert-danger.alert-dismissible.fade.show{:role => 'alert'}
      = locals[:latex_error]
      %button{:type => 'button', :class => 'close', 'data-dismiss' => 'alert', 'aria-label' => 'Close'}
        %span{'aria-hidden' => true}
          &times;
  - if locals[:file_missing_error]
    .message_error.text-center.alert.alert-danger.alert-dismissible.fade.show{:role => 'alert'}
      = locals[:file_missing_error]
      %button{:type => 'button', :class => 'close', 'data-dismiss' => 'alert', 'aria-label' => 'Close'}
        %span{'aria-hidden' => true}
          &times;
  - if locals[:image_error]
    .message_error.text-center.alert.alert-danger.alert-dismissible.fade.show{:role => 'alert'}
      = locals[:image_error]
      %button{:type => 'button', :class => 'close', 'data-dismiss' => 'alert', 'aria-label' => 'Close'}
        %span{'aria-hidden' => true}
          &times;
  - if locals[:uniqueness_message]
    .message_error.text-center.alert.alert-danger.alert-dismissible.fade.show{:role => 'alert'}
      = (locals[:uniqueness_error_type] == :warning) ? "Warning: " : "Error: "
      = locals[:uniqueness_message]
      %button{:type => 'button', :class => 'close', 'data-dismiss' => 'alert', 'aria-label' => 'Close'}
        %span{'aria-hidden' => true}
          &times;
  - if locals[:warnings]
    .message_warning.text-center.alert.alert-warning.alert-dismissible.fade.show{:role => 'alert'}
      = locals[:warnings].join('<br>')
      %button{:type => 'button', :class => 'close', 'data-dismiss' => 'alert', 'aria-label' => 'Close'}
        %span{'aria-hidden' => true}
          &times;
          
  - unless Gui.option(:disable_info_messages)
    - if locals[:created_new_object]
      .message_success.text-center.alert.alert-success.alert-dismissible.fade.show{:role => 'alert'}
        Successfully created a 
        = locals[:created_new_object][:class_name].strip
        %button{:type => 'button', :class => 'close', 'data-dismiss' => 'alert', 'aria-label' => 'Close'}
          %span{'aria-hidden' => true}
            &times;
    - if locals[:edited_object]
      .message_success.text-center.alert.alert-success.alert-dismissible.fade.show{:role => 'alert'}
        = locals[:edited_object]
        %button{:type => 'button', :class => 'close', 'data-dismiss' => 'alert', 'aria-label' => 'Close'}
          %span{'aria-hidden' => true}
            &times;

  = @output
