- if logged_in?
  %ul.navbar-nav.nav
    %li.nav-item
      %a.nav-link
        %i.material-icons
          dashboard
        %span
          Dashboard
    %li.nav-item{:class => ('active' if action.path == '/clear_view_selection')}
      %a.nav-link{:href => '/clear_view_selection'}
        %i.material-icons
          library_books
        %span
          Documents
    %li.nav-item{:class => ('active' if action.node == Gui::MainController && action.path == '/')}
      %a.nav-link{:href => '/'}
        %i.material-icons
          content_paste
        %span
          Table View
    %li.nav-item.collapsable
      %a.nav-link.collapsed{'data-toggle' => 'collapse', :href => '#customPagesSubList', :role => 'button', 'aria-expanded' => 'false', 'aria-controls' => 'customPagesSubList'}
        %i.material-icons
          apps
        %span
          Custom Pages
        %i.fa.fa-angle-down.rotate-icon
      .collapse#customPagesSubList
        %ul.sub-menu
          - CUSTOM_PAGES.each do |page_key, page_info|
            - if page_info[:show_in_nav_bar]
              %li{:class => 'sub-menu-item'}
                %a{:class => 'nav-link', :href => page_info[:url]}
                  = page_info[:name]
    %li.nav-item.collapsable
      %a.nav-link.collapsed{'data-toggle' => 'collapse', :href => '#adminOptionsList', :role => 'button', 'aria-expanded' => 'false', 'aria-controls' => 'adminOptionsList'}
        %i.material-icons
          supervisor_account
        %span
          Administration
        %i.fa.fa-angle-down.rotate-icon
      .collapse#adminOptionsList
        %ul.sub-menu
          - if session[:is_admin]
            %li.sub-menu-item
              %a.nav-link{:href => "/gb_users/user_admin/"}
                Manage Users
          - if session[:is_admin]
            %li.sub-menu-item
              %a.nav-link{:href => '/gb_users/site_admin'}
                Manage Site
            %li.sub-menu-item
              %a.nav-link{:href => '/gb_enumerations/enumerations'}
                Manage Enumeration
    %li.nav-item{:class => ('active' if  action.node == Gui::GbUsersController && action.path == '/preferences')}
      %a.nav-link{:href => '/gb_users/preferences'}
        %i.material-icons
          settings
        %span
          Settings
    %li.nav-item
      %a.nav-link
        %i.material-icons
          notifications
        %span
          Notifications