/ #uniqueness_popup.dialog{:title => is_warning ? "Uniqueness Warning:" : "Uniqueness Error:", :class => is_warning ? 'uniqueness_warning' : 'uniqueness_error'}
/   %input{:type => 'hidden', :id => 'is_creation', :name => 'is_creation', :value => flash[:creation].to_s}
/   %input{:type => 'hidden', :id => 'has_assoc_obj', :name => 'has_assoc_obj', :value => flash[:has_assoc_obj].to_s}
/   #popupMessage.dialog_message{:readonly => true}
/     = flash[:uniqueness_message]
/     .center
/       .collection.selection.view_widget.table_widget.widget
/         .collection_content.view_content
/           = conflicting_obj_content
          
.modal.fade{:id => 'uniquenessModal', :role => 'dialog', :class => is_warning ? 'uniqueness_warning warning' : 'uniqueness_error error', 'aria-labelledby' => 'uniqueness ModalLabel', 'aria-hidden' => true, :tabindex => '-1'}
  .modal-dialog.modal-lg{:role => 'document'}
    .modal-content
      .modal-header
        %h5.modal-title{:id => 'uniquenessModalLabel'}
          = is_warning ? 'Uniqueness Warning:' : 'Uniqueness Error:'
        %button{:type => 'button', :class => 'close', 'data-dismiss' => 'modal', 'aria-label' => 'Close'}
          %span{'aria-hidden' => true}
            &times;
      .modal-body
        .uniqueness-information
          %input{:type => 'hidden', :id => 'is_creation', :name => 'is_creation', :value => flash[:creation].to_s}
          %input{:type => 'hidden', :id => 'has_assoc_obj', :name => 'has_assoc_obj', :value => flash[:has_assoc_obj].to_s}
          #popupMessage.dialog_message{:readonly => true}
            .alert{:class => is_warning ? 'alert-warning' : 'alert-danger'}
              = flash[:uniqueness_message]
            .text-center
              .collection.selection.view_widget.table_widget.widget
                .collection_content.view_content
                  = conflicting_obj_content
      .modal-footer
        %button{:id => 'closeUniquenessModal', :class => 'btn btn-secondary', 'data-dismiss' => 'modal'}
          Cancel
        - if is_warning
          %button{:id => 'uniquenessModalContinueAnyway', :class => 'btn btn-primary'}
            Continue Anyway
        - if flash[:creation]
          - if flash[:has_assoc_obj]
            %button{:id => 'uniquenessModalAbandonAndUse', :class => 'btn btn-primary'}
              = 'Abandon Creation & Use Existing Item'
          - else
            %button{:id => 'uniquenessModalAbandonAndView', :class => 'btn btn-primary'}
              Abandon Creation & View Existing Item