.available-action-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

#workflow_item_table {
  width: 100% !important;
}

#start_workflow_button {
/*  margin-bottom: 15px;*/
/*  margin-top: 15px;*/
/*  display: block;*/
  
  cursor: pointer;
  box-shadow: rgb(41, 187, 255) 0px 0px 4px 1px;
  background: linear-gradient(rgb(45, 171, 249) 5%, rgb(6, 136, 250) 100%) rgb(45, 171, 249);
  border-radius: 3px;
  border: 1px solid rgb(11, 14, 7);
  display: inline-block;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 12px;
  padding: 8px 10px;
  text-decoration: none;
  text-shadow: rgb(38, 54, 102) 0px 1px 11px;
  
}

.start_new_workflow_single a {
  cursor: pointer; 
  box-shadow: rgb(41, 187, 255) 0px 0px 4px 1px;
  background: linear-gradient(rgb(45, 171, 249) 5%, rgb(6, 136, 250) 100%) rgb(45, 171, 249);
  border-radius: 3px;
  border: 1px solid rgb(11, 14, 7);
  display: inline-block;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 12px;
  padding: 8px 10px;
  text-decoration: none;
  text-shadow: rgb(38, 54, 102) 0px 1px 11px;
}

.workflow_item_container {
  width: 150px;
  display: none;
  box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px inset;
  background: linear-gradient(rgb(237, 237, 237) 5%, rgb(223, 223, 223) 100%) rgb(237, 237, 237);
  border-radius: 6px;
  border: 1px solid rgb(220, 220, 220);
  outline: 0;
  z-index: 35;
  position: fixed;
}

.workflow_item_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.workflow_item_list a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.workflow_item_list li {
}

.error_message_header {
  color: red;
  font-size: 16px;
}

.hover:hover {
    background-color: rgba(0, 188, 212, 0.8);
}