/* line 6, ../src/changes.sass */
.change_tracker { border: 1px solid #dddddd; padding: 0.5em; margin-bottom: 0.5em; }
/* line 10, ../src/changes.sass */
/* .change_tracker #timestamp_column { margin-right: 688px; } */
/* line 12, ../src/changes.sass */
.change_tracker #timestamp_column #timestamp_list { border: 1px solid #dddddd; max-height: 20em; min-height: 5em; overflow: auto; padding: 0.3em 0; }
/* line 18, ../src/changes.sass */
.change_tracker #timestamp_column #timestamp_list .ct_timestamp { clear: left; }
/* line 20, ../src/changes.sass */
.change_tracker #timestamp_column #timestamp_list .ct_timestamp input { float: left; margin-top: -1px; display: inline-block; }
/* line 24, ../src/changes.sass */
.change_tracker #timestamp_column #timestamp_list .ct_timestamp label { margin-left: 2px; font-weight: normal; float: left; }
/* line 28, ../src/changes.sass */
.change_tracker #timestamp_column #timestamp_options { margin: 0.5em 0; text-align: center; }
/* line 31, ../src/changes.sass */
/* .change_tracker #change_view { float: right; } */
/* line 33, ../src/changes.sass */
.change_tracker #change_view table.changes { width: 100%; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; }
/* line 37, ../src/changes.sass */
.change_tracker #change_view table.changes td, .change_tracker #change_view table.changes th { border-left: 1px solid #cccccc; border-collapse: "collapse"; padding: 3px; }
/* line 41, ../src/changes.sass */
.change_tracker #change_view table.changes td.last, .change_tracker #change_view table.changes th.last { border-right: 1px solid #cccccc; }
/* line 43, ../src/changes.sass */
.change_tracker #change_view table.changes th { font-weight: bold; text-align: center; border-bottom: 1px solid #cccccc; }
/* line 47, ../src/changes.sass */
.change_tracker #change_view table.changes td.attr { width: 140px; max-width: 140px; }
/* line 50, ../src/changes.sass */
.change_tracker #change_view table.changes td.new, .change_tracker #change_view table.changes td.old { width: 260px; max-width: 260px; }
/* line 53, ../src/changes.sass */
.change_tracker #change_view table.changes td > div { max-height: 100px; overflow: auto; }
/* line 56, ../src/changes.sass */
.change_tracker #change_view table.changes tr.hover { background: #f0f0f0; cursor: pointer; }
/* line 59, ../src/changes.sass */
.change_tracker #change_view table.changes tr.active_attribute { background: #fff8c6; }
/* line 61, ../src/changes.sass */
.change_tracker #diff_outline { margin-top: 0.8em; display: none; }
/* line 64, ../src/changes.sass */
.change_tracker #diff_outline .close_icon { display: inline-block; float: right; }
/* line 67, ../src/changes.sass */
.change_tracker #diff_outline .close_icon img { margin: 5px 3px 0 0; }
/* line 69, ../src/changes.sass */
/* .change_tracker #diff_outline table.diff { max-width: 895px; } */
/* line 71, ../src/changes.sass */
/* .change_tracker #diff_outline table.diff td { max-width: 440px; overflow-x: scroll; } */

/*td.item_edit { padding: 4px 0px 4px 5px; }*/

#ui-datepicker-div { display: none; }