/* line 34, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body { text-align: center; }
/* line 44, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
* html body legend { margin: 0px -8px 16px 0; padding: 0; }
/* line 48, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
html > body p code { *white-space: normal; }

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
.container { text-align: left; }

/* line 62, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
sup { vertical-align: text-top; }

/* line 64, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
sub { vertical-align: text-bottom; }

/* line 66, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
hr { margin: -8px auto 11px; }

/* line 68, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
img { -ms-interpolation-mode: bicubic; }

/* line 70, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
fieldset { padding-top: 0; }

/* line 72, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
legend { margin-top: -0.2em; margin-bottom: 1em; margin-left: -0.5em; }

/* line 76, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
fieldset, #IE8#HACK { padding-top: 1.4em; }

/* line 77, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
legend, #IE8#HACK { margin-top: 0; margin-bottom: 0; }

/* line 78, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
textarea { overflow: auto; }

/* line 80, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
label { position: relative; top: -0.25em; }

/* line 84, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
input.text { margin: 0.5em 0; background-color: white; border: 1px solid #bbbbbb; }
/* line 88, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
input.text:focus { border: 1px solid #666666; }
/* line 90, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
input.title { margin: 0.5em 0; background-color: white; border: 1px solid #bbbbbb; }
/* line 94, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
input.title:focus { border: 1px solid #666666; }
/* line 96, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
input.checkbox { position: relative; top: 0.25em; }
/* line 99, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
input.radio { position: relative; top: 0.25em; }
/* line 102, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
input.button { position: relative; top: 0.25em; }

/* line 105, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
textarea { margin: 0.5em 0; }

/* line 107, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
select { margin: 0.5em 0; }

/* line 109, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
button { position: relative; top: 0.25em; }
