body {
/*  background-color: #333;*/
/*  background-color: #212121;*/
  background-color: #424242;
  /* Prevents the Main Navbar from covering up any content. Needs to be adjusted to match height of nav_bar */
/*  padding-top: 56px;*/
}

#wrapper {
  background-color: #F5F5F5;
  width: 95%;
  padding: 1rem;
}

/*Topbar css */
#nav_bar{
  height: 58px;
  /*background-color: #007bff;*/
}

/*It needs two classes since clearview doesn't work well for display: table-row and it can be lists as well as tables */
.sortable-placeholder {
  background-color: lightsteelblue;
  display: table-row;
}

.clearview-placeholder {
  background-color: lightsteelblue;
}

/*File Widget css */
.red-strikethrough {
  text-decoration: line-through;
  text-decoration: red line-through;
}

.not-allowed-cursor {
  cursor: not-allowed;
}

.markItUpHeader ul li {
  margin-right: 5px;
}

.thick-border-bottom {
  border-bottom: 5px solid #e9ecef!important;
}

/* Collection styles */

.unassociated_object>td :not(.table-primary);{ background-color: #FFBC57; }
.unassociated_object.pending_assoc.unselected>td { background-color: #ffd390; }
/*div.collection_content_data tr.unassociated_object.selected { background: #aaffff; }*/

td.center {
  white-space: nowrap;
  text-align: center !important;
}

td.checkbox {
  width: 50px;
}

/*.table td {
  white-space: nowrap;
}*/

th.is_sortable {
  cursor: pointer;
}

.search_all_filter {
  width: 25%;
}

/* Collection pagination*/
.pagination_control {
  align-items: center;
}
.filter-information {
  margin-bottom: 1rem;
}

.filter-information .repage-collection  {
  vertical-align: unset;
}

/* Material Icon css */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/material-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/fonts/material-icons/MaterialIcons-Regular.woff2) format('woff2'),
    url(/fonts/material-icons/MaterialIcons-Regular.woff) format('woff'),
    url(/fonts/material-icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* end of material icon css */

/*icon css*/
/* Css for collection up and down arrow probably should be replaced with a standard icon set */
span.arrow-icon {
  background: url(/images/material-icons/baseline_expand_more_black_24dp.png) no-repeat top;
  background-position-y: -12px;
  width: 36px;
  height: 32px;
  display:inline-block;
}

.collection.collapsed > .view_header > span.arrow-icon, .organizer > .view_header.collapsed > span.arrow-icon {
  background: url(/images/material-icons/baseline_expand_less_black_24dp.png) no-repeat top;
  background-position-y: -12px;
}

.collection.expanded > .view_header > span.arrow-icon {
  display: none;
}

/* Css for table sorting icons  this should be replaced with a standard icon set too */
.collection_content_data .table_header_row .sorting_arrow_down:before {
  background: url(/images/material-icons/baseline_arrow_downward_black_24dp.png) no-repeat;
  height: 25px;
  width: 25px;
  float: left;
  content: "";
}

.collection_content_data .table_header_row .sorting_arrow_up:before {
  background: url(/images/material-icons/baseline_arrow_upward_black_24dp.png) no-repeat;
  height: 25px;
  width: 25px;
  float: left;
  content: "";
}

.filter_toggle_cell span.search-icon { 
  display: block;
  height: 30px;
  width: 30px;
  background: transparent url(/images/material-icons/baseline_search_black_24dp.png) no-repeat;
  background-size: 30px;
}


/*number slider css*/
.number_slider {
  width: 300px;
  display: inline-block;
}

.number_slider_handle.ui-slider-handle {
  width: 3em !important;
  height: 1.6em !important;
  top: 50% !important;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}

.document_number_slider .number_slider {
  padding: 0;
  vertical-align: text-bottom;
}

/*rich text css*/
.widget.text .text-plain {
  width: 550px;
  height: 280px;
}

.widget.ckeditor .editable_view, .widget.widget-html .editable_view {
  flex-grow: 0.95;
}

.section .section_header {
  cursor: pointer;
}

/*Modal css*/
.items-to-delete {
  word-wrap: break-word;
  height: 500px;
  overflow-y: auto;
}

.help-info-button {
  border-radius: 1rem;
}

/*clearview css*/

/*Override the white background color for nested tables since it looks bad in clearview.*/
.table .table {
  background-color: transparent;
}

/*  Pretty Icon buttons for clearview  */
.document_association_item_actions {
  margin-left: -7em;
  padding-right: 3.5em;
  float: left;
  text-align: right;
}

.document_association_item_actions_inner .delete_object {
  background-image: url( /images/delete_trash_white.png);
  background-repeat: no-repeat;
  background-size: 25px 25px;
  height: 25px;  
  width: 25px;
  background-position-x: -2px;
  background-position-y: -2px;
  border-radius: 10px;
  cursor: pointer;
}

.document_association_item_actions_inner .undo_change {
  background-image: url( /images/add_plus_white.png);
  background-repeat: no-repeat;
  background-size: 25px 25px;
  height: 25px;  
  width: 25px;
  background-position-x: -2px;
  background-position-y: -2px;
  border-radius: 10px;
  cursor: pointer;
}

.document_association_item_actions_inner .break_association {
  background-image: url( /images/broken_link_white.png);
  background-repeat: no-repeat;
  background-size: 25px 25px;
  height: 25px;  
  width: 25px;
  background-position-x: -2px;
  background-position-y: -2px;
  border-radius: 10px;
  cursor: pointer;
}

/*This rule is gross and just automatically assumes a context using a div for view_content should always be inline.  It has to be overridden to do anything differnet with it like document collapsable -TB*/
.context.widget div.view_content {
  display: inline;
}

.search-highlight {
  background-color: red;
}

/*start of document search and replace text*/
#documentSearchContainer {
  position: static;
  float: none;
  background-color: inherit;
  padding: 0;
  top: 58px;
}

#replacementContainer {
  position: absolute;
  width: 398px;
}


/*Boolean checkbox hacky css*/
/*Hide the boolean checkbox widget label text if it is in table */
tr .document_boolean_checkbox .widget_label {
  color: transparent;
  font-size: 1px;
}

tr .document_boolean_checkbox .widget_label .boolean_checkbox {
  margin-right: 0px;
  font-size: 16px;
  cursor: pointer;
}

/*List styling fix on clearview */
.pretty_view ul {
  margin-bottom: 1em;
  list-style-type: disc;
}

.pretty_view ul ul {
  margin-bottom: 0;
  list-style-type: circle;
}

.pretty_view ul ul ul {
  margin-bottom: 0;
  list-style-type: square;
}

/*List styling fix on clearview */
.pretty_view ol {
  margin-bottom: 1em;
}

.pretty_view ol ol {
  margin-bottom: 0;
}

.pretty_view ol ol ol {
  margin-bottom: 0;
}

/*Fix overly tall RichText pretty_view appearance in clear view*/
.pretty_view p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

/*This is a clunky change to make the hovering comment button work better.  It's not perfect and requires adding more classes.*/
/*This would break all the tests if the option is turned on.  It is the only way to make it easier to use */
/*The container has to be display block and have a padding roughly equal to the comment button size to avoid wrapping the button onto it's own line of text.*/
.document_widget.allows-comments {
/*  padding-right: 26px;*/
/*  display: block !important;*/
  display: inline-flex !important;
}

/* All these rules suck and it's why having a hoverable button is usually a bad idea */
/*.document_widget.document_rich_text.allows-comments {
  display: block !important;
}
*/
/*This needs to be inline-block to prevent the comment button from being forced below the widget.  I don't know if this messes up other css in some cases.*/
.document_widget.document_rich_text.allows-comments .input {
  display: inline-block !important; 
}

/*Document Widget Comments CSS */

.comment_button {
/*  border-radius: 5px;*/
/*  margin-left: 15px;*/
/*  padding-left: 16px;*/
/*  margin-bottom: 16px;*/
/*  position: absolute;*/
  background-image: url( /images/comment_icon.png);
  background-repeat: no-repeat;
  background-size: 25px 25px;
  height: 26px;  
  width: 26px;
  background-position-x: 0px;
  background-position-y: 0px;
  border-radius: 4px;
  cursor: pointer;
  visibility: hidden;
  z-index: 99;
  position: absolute;
  right: -26px;
}

/* This seems to directly contain the comment button. I do not know where (or if) .widget-comment-container is used. -SD */
.allows-comments {
  position: relative;
}

/*This is a clunky change to make the hovering comment button work better.  It's not perfect and requires adding more classes.*/
.document_widget:hover > .comment_button {
/*  transform: translate(5px, -7px);
  display: inline-block !important;*/
  visibility: visible;
}

.widget-comment-container {
  position: absolute;
  right: 10%;
  width: 500px;
  min-width: 500px;
  opacity: 1;
  z-index: 1060;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  font-size: 16px;
  padding: 15px;
/*  transform: translate(0, -20px);*/
}

.document_rich_text .widget-comment-container {
/*  transform: translate(0px, -75px);*/
}

.widget-comment-container .widget-comments {
  max-height: 500px;
  overflow-y: auto;
}

.widget-comment-container .widget-comment-close {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.widget-comment-container .widget-comment {
  margin-bottom: 10px;
  background: #fff;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
}

.widget-comment-container .comment-content {
  border-bottom: 2px solid #ddd;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.widget-comment-container .comment-attribution {
  padding: 2px;
  margin: 0.5em 0 0;
}

.widget-comment-container .add-new-document-comment {
  cursor: pointer;
}

.widget-comment-container .new-comment-content {
  height: 75px;
}

.document_widget .has-widget-comments {
  background-color: #ffff4d;
}

/*Display Container CSS - differs from the new widget css*/
.widget-comment-display-container {
  background-color: aqua;
}

.widget-comment-display-container .widget-comment-title {
  text-decoration: underline;
}

/*Document Collapsable CSS*/

.document_collapsable_context {
  display:block !important;
}

/*.document_collapsable_context .section_header{
  float: none;
  cursor: pointer;
  display: inherit !important;
}
*/
.context.document_collapsable_context.widget div.view_content {
  display:block;
  padding-left: 0px;
}

/*This should honestly be on the containing div but it is currently onnly containing the button for add association*/
.table_widget button.add_association.btn {
  margin-left: 12px;
  margin-top: 5px;
}

/*Less specific selector.  The others below only work if the label is a specific heading size to make argus look better.*/
.section.widget.collapse_arrow_up > .section_header > .view_label:before {
  background: url(/images/material-icons/baseline_expand_less_black_24dp.png) no-repeat top;
  background-position-y: 0px;
  content: ' ';
  width: 36px;
  height: 36px;
  display: inline-block;
}

.section.widget.collapse_arrow_down > .section_header > .view_label:before {
  background: url(/images/material-icons/baseline_expand_more_black_24dp.png) no-repeat top;
  background-position-y: 0px;
  width: 36px;
  height: 36px;
  content: ' ';
  display: inline-block;
}


.section.widget.collapse_arrow_up > .section_header > h2.view_label:before {
  background: url(/images/material-icons/baseline_expand_less_black_24dp.png) no-repeat top;
  background-position-y: 0px;
  content: ' ';
  width: 36px;
  height: 36px;
  display: inline-block;
}

.section.widget.collapse_arrow_down > .section_header > h2.view_label:before {
  background: url(/images/material-icons/baseline_expand_more_black_24dp.png) no-repeat top;
  background-position-y: 0px;
  width: 36px;
  height: 36px;
  content: ' ';
  display: inline-block;
}

.section.widget.collapse_arrow_up > .section_header > h3.view_label:before {
  background: url(/images/material-icons/baseline_expand_less_black_24dp.png) no-repeat top;
  background-position-y: -7px;
  content: ' ';
  width: 26px;
  height: 28px;
  display: inline-block;
}

.section.widget.collapse_arrow_down > .section_header > h3.view_label:before {
  background: url(/images/material-icons/baseline_expand_more_black_24dp.png) no-repeat top;
  background-position-y: -7px;
  width: 26px;
  height: 28px;
  content: ' ';
  display: inline-block;
}

.section.widget.collapse_arrow_up > .section_header > h4.view_label:before {
  background: url(/images/material-icons/baseline_expand_less_black_24dp.png) no-repeat top;
  background-position-y: -9px;
  content: ' ';
  width: 26px;
  height: 26px;
  display: inline-block;
}

.section.widget.collapse_arrow_down > .section_header > h4.view_label:before {
  background: url(/images/material-icons/baseline_expand_more_black_24dp.png) no-repeat top;
  background-position-y: -9px;
  width: 26px;
  height: 26px;
  content: ' ';
  display: inline-block;
}

.section.widget.collapse_arrow_up > .section_header > h5.view_label:before {
  background: url(/images/material-icons/baseline_expand_less_black_24dp.png) no-repeat top;
  background-position-y: -10px;
  content: ' ';
  width: 26px;
  height: 22px;
  display: inline-block;
}

.section.widget.collapse_arrow_down > .section_header > h5.view_label:before {
  background: url(/images/material-icons/baseline_expand_more_black_24dp.png) no-repeat top;
  background-position-y: -10px;
  width: 26px;
  height: 22px;
  content: ' ';
  display: inline-block;
}

.section.widget.collapse_arrow_up > .section_header > h6.view_label:before {
  background: url(/images/material-icons/baseline_expand_less_black_24dp.png) no-repeat top;
  background-position-y: -11px;
  content: ' ';
  width: 26px;
  height: 22px;
  display: inline-block;
}

.section.widget.collapse_arrow_down > .section_header > h6.view_label:before {
  background: url(/images/material-icons/baseline_expand_more_black_24dp.png) no-repeat top;
  background-position-y: -11px;
  width: 26px;
  height: 22px;
  content: ' ';
  display: inline-block;
}

.section.widget > .section_header > .view_label {
  display: inline-block !important;
}

.section.widget > .section_content {
  margin-left: 2em;
  position: relative;
}

.section.widget .document_widget.table_widget, .section.widget .document_widget.list_widget{
  border-left: none !important;
  padding-left: 5px;
}

/* This is a gross hack for Art to make stuff line up.  The hover association controls need this padding but a section already has some padding so I'm just hoping it works out -TB */
.section.widget ul.document_association_content_data {
  padding: 0;
}

.section-line {
  content: ' ';
  position: absolute;
  left: -18px;
  border-left: 8px solid #6c757d;
  height: 100%;
  top: 0;
}

.section_content .section_content .section-line{
  left: -23px;
}

.document_rich_text.widget .input{
  display: inline;
}

/*Old styles for clearview markdown generated tables */
.document.root .pretty_view th {background-color: rgb(79, 129, 189); border:1px solid black; color: white;}
.pretty_view td {border:1px solid black}

.pretty_view table {
  width: 100%;
}

.pretty_view table td, .pretty_view table th {
  padding: 0.5rem;
}

/*Bolds all document text labels */
.document_textlabel {
  font-weight: 700;
}

/* Sidebar css */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  width: 15rem;
  background: #fff;
  box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.sidebar .logo {
  padding: 15px 0;
  margin: 0;
  display: block;
  position: relative;
  z-index: 4;
}

.sidebar .logo .logo-normal {
  text-transform: uppercase;
  padding: 5px 0;
  font-size: 18px;
  color: #3c4858;
  white-space: nowrap;
  font-weight: 400;
  line-height: 30px;
  overflow: hidden;
  text-align: center;
  display: block;
}

.sidebar .logo .logo-normal:hover{
  text-decoration: none;
}

.sidebar .logo:after {
  content: "";
  position: absolute;
  bottom: 11px;
  right: 15px;
  height: 1px;
  width: calc(100% - 30px);
  background-color: hsla(0,0%,71%,.3);
}

.sidebar .sidebar-content {
  position: relative;
  height: calc(100vh - 75px);
  overflow: auto;
  z-index: 4;
  padding-bottom: 30px;
}

.sidebar ul.nav {
  margin-top: 20px;
  display: block;
}

.sidebar ul.nav .nav-item {
  
}

.sidebar ul.nav .nav-item > a:hover {
  background-color: hsla(0,0%,78%,.2);
  color: #3c4858;
  box-shadow: none;
}

.sidebar ul.nav .nav-item .nav-link{
  margin: 10px 15px 0;
  border-radius: 3px;
  color: #3c4858;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: capitalize;
  font-size: 13px;
  padding: 10px 15px;
  display: block;
  cursor: pointer;
}

.sidebar ul.nav .nav-item.active > a {
  background-color: #f44336;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(244,67,54,.4);
}

.sidebar ul.nav .nav-item.active > a, .sidebar ul.nav .nav-item.active > a i {
  color: #fff;
}

.sidebar .nav i {
  font-size: 24px;
  float: left;
  margin-right: 15px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  color: #a9afbb;
}

.sidebar ul.nav .nav-link.collapsed > i.rotate-icon {
  position: absolute;
  right: 0;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.sidebar ul.nav .nav-link > i.rotate-icon {
  position: absolute;
  right: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 150ms ease-in 0s;
  -o-transition: all 150ms ease-in 0s;
  transition: all 150ms ease-in 0s;
}

.sidebar ul.nav span {
  margin: 0;
  line-height: 30px;
  font-size: 14px;
  position: relative;
  height: auto;
  white-space: nowrap;
}

.sidebar ul.sub-menu {
  padding: 0;
  list-style-type: none;
  list-style: none;
}

.sidebar ul.sub-menu .sub-menu-item {
  background-color: transparent;
}

.sidebar ul.sub-menu .sub-menu-item .nav-link {
  padding-left: 47px;
}

.sidebar ul.sub-menu .sub-menu-item .nav-link:hover {
  background-color: rgba(0,0,0,.05);
  color: #4285f4;
}

.sidebar ul.nav .nav-item.collapsable > .nav-link.collapsed {
  color: inherit;
  background-color: inherit;
}

.sidebar ul.nav .nav-item.collapsable > .nav-link {
  color: #4285f4;
  background-color: transparent;
}

.sidebar ul.nav .nav-item.collapsable > .nav-link.collapsed i{
  color: #a9afbb;
}

.sidebar ul.nav .nav-item.collapsable > .nav-link > i{
  color: #4285f4;
}

/* Flexible and switchable body layout css */
.fixed-sidenav {
  
}

.fixed-topnav {
}

.fixed-sidenav #nav_bar {
  padding-left: 15rem;
}

.fixed-topnav main{
  margin-top: 58px !important;
}

.fixed-sidenav main {
  padding-left: 15rem !important;
  width: 100% !important;
}

.fixed-sidenav main > .content {
  padding-left: 1rem;
}

#login-form, #register-form {
  padding:10px;
}

.agree_chk_error {
  visibility:hidden;
  color:red;
}

.collection_content_data .button_widgets {
  margin-bottom: 10px;
}

/* End of top/side body layout css */