/*Testing only CSS */

/*Capybara-webkit doesn't work right with some media queries*/
/*#topNavBarToggleButton {
  display: inline-block;
}*/

#nav_bar{
  display: block !important;
  width: 100%;
  height: 400px;
  position: relative !important;
}

#topNavBarToggler{
  display: block !important;
}

#user_bar{
  display: block !important;
  z-index: 99999999999999 !important;
}

*, *:before, *:after {
    transition: none !important;
}

.collapsing {
  transition: none !important;
}

