/*#save_and_stay, #save_and_continue, #save_and_leave, #discard_and_stay { display: none;}*/
#bottom-save-button-container {display: none;}


/*body { line-height: 1.5; font-family: Arimo, Arial, Helvetica, sans-serif; color: #333333; font-size: 75%; }*/
.simple_widget {
  clear: both;
}

.app_title_and_user_information { display: block; padding: 1em 5em 1em 5em;}

@import url(https://fonts.googleapis.com/css?family=Metrophobic&effect=shadow-multiple|anaglyph|emboss|3d|3d-float);
/*.app_title { float: left; font-family: Metrophobic, "Helvetica Neue", Arial, Helvetica, sans-serif; font-size: 2em; color: #0a6aa1; padding: 0; }*/
.app_title { float: left; font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; font-size: 2em; color: #0a6aa1; padding: 0; }

.user_information { 
  float: right;
  font-size: 1.5em; 
  color: #0a6aa1;
  padding: 0;
/*  padding: 0.3em 3em 0.3em 3em;*/
}
#nav_bar a, #nav_bar a:visited, #nav_bar a:hover, #user_bar a, #user_bar a:visited, #user_bar a:hover { color: floralwhite; }

#nav_bar { padding-bottom: 0.5em; font-size: 1em; color: #0a6aa1;}

#user_bar { padding-bottom: 0.5em; color: #0a6aa1;}

div.organizer_content { border-radius: 3px;}

/*form .view_form { display: inline-block; width: 100%; }*/
/*form .organizer_content { width: 100%; }*/
.organizer_content form .input.submit { clear: both;; }

/* .view_form label.main_input { padding-top: 8px;} */

/* This the same padding as if found for the rule for:
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password]
*/
.view_form .action_button   { 
  margin: 0.5em 0;
  padding: 5px;
}

/*.simple_widget label { display: block; }*/

/*.view_form .simple_widget { float: left; width: 49%; }*/
/*.view_form .view_widget, .view_form .simple_widget.html { float: left; width: 100%; }*/

/*.view_form label.main_input { display: block; width: auto;}
.view_form label.main_input, form input.main_input { float: none; }
*/
/* Border around RichText type widgets */
/*.view_form .simple_widget.text {
  border: 1px solid #dddddd;
  padding: 0.5em;
  margin: 0.5em 0em 0.5em 0em;
  border-radius: 3px;
  width: 90%;
}*/
.simple_widget .widget_toggle_link { float: none }
/*.view_form .complex_text_widget_label { display: block; }*/
/*.view_form .simple_widget.text label.main_input { display: inline-block; width: auto;}*/
.view_form .simple_widget.text label.main_input { width: auto;}

.view_form select.widget_data, .view_form input.text, .view_form input.title, .view_form input[type=email], .view_form input[type=text], .view_form input[type=password] { 
/*  width: 80%;*/
  border-radius: 3px;
}

input.trash_check_button {
  display: none;
}
.file_widget_input .delete_label,
.file_widget_input .file_chooser_label {
  border: 1px solid grey;
  background: white;
  padding: 3px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: normal;
}

input.trash_check_button:not(:checked) + label.delete_label:hover {
  box-shadow: 0px 1px 3px;
}
input.trash_check_button + label.delete_label:active,
input.trash_check_button:checked + label.delete_label {
  box-shadow: 0px 0px 3px inset;
  background: #eee;
  background-color: red;
}

.view_form .file_widget_input .file_chooser_label:hover {
  box-shadow: 0px 1px 3px;
}

.upload_file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.upload_file:focus + label,
.upload_file + label:hover {
    outline: 1px dotted #000;
  	outline: -webkit-focus-ring-color auto 5px;
}

.file_widget_input .previous_file label.file_chooser_label {
  background-color: turquoise;
}

/* For using with mobile -- not worried about this at the moment */
/* .inputfile + label * {
	pointer-events: none;
} */
/*a.create_docx_link {*/
a.link_button {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 1px 6px;

    font: 13.3333px Arial;
    text-rendering: auto;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    letter-spacing: normal;
    word-spacing: normal;
    color: buttontext;

    border: 2px outset buttonface;
    border-image: initial;

    background-color: buttonface;

    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    cursor: default;
}

/*a.create_docx_link:active {border-style: inset;}*/
a.link_button:active {border-style: inset;}