.split_pane_container{
  padding: 10px 0;
  display: table;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  width: 100%;
  text-overflow: ellipsis;
}

.tree_view_split_pane{
  border: 1px solid #dddddd;
  padding: 0.5em;
  width: 20%;
  overflow-x: scroll;
  max-width: 300px;
}
  
.split_panes {
  vertical-align: top;
}

.js_tree_content {
  display: inline-block;
  width: 80%;
  min-width: 350px;
  text-overflow: ellipsis;
  margin-top: 0px;
}

.expanded_tree_content_div {
  display: block;
  width: 100% !important;
}

.resizable_tree_div {
  max-width: 1600px;
  max-width: 70vw;
/*  z-index: 3;*/
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  min-width: 430px;
  min-height: 430px;
  width: 430px;
  height: 500px;
  margin-right: 0;
  padding-right: 5px;
  padding-bottom: 20px;
  text-overflow: ellipsis;
}