%script{ :type => 'text/javascript', :src  => 'http://www.google.com/jsapi' }
%style{ :type => 'text/css' }
  @import '/css/diffview.css';

%form.main_form{ :method => 'POST', :enctype => 'multipart/form-data'}
  - if Gui.option(:enable_breadcrumbs)
    %nav#breadcrumbs.breadcrumb_trail
      - if !current_breadcrumbs.empty?
        %ol.breadcrumb
          - current_breadcrumbs.each_with_index do |node, position|
            - next unless node
            %li.breadcrumb-item
              %input{ :type => 'hidden', :name => "breadcrumb-#{position}", :value => node.to_url.escape(:cgi)}
              %a.discard_and_go_link.navigational_link{ :id => "breadcrumb-#{position}", :href => node.to_url}
                = node.to_title
          %li.breadcrumb-item.active
            %a.discard_and_go_link.navigational_link{ :id => 'history-breadcrumb', :href => current_breadcrumbs.last.to_history_url }
              = current_breadcrumbs.last.to_title + ' History'

.change_tracker
  %input#package{:type => 'hidden', :name => 'package', :value => @package_str}
  %input#domain_obj_class{:type => 'hidden', :name => 'domain_obj_class', :value => @domain_obj_class_str}
  %input#domain_obj_id{:type => 'hidden', :name => 'domain_obj_id', :value => @domain_obj_id_str}

  .display-4.text-center
    Version History

  #timestamp_column.border.p-2
    #timestamp_list
      - versions_info.each do |v|
        - time = v[:version]
        - time_ident = v[:creation] ? 'time_of_creation' : "time_#{time.to_i}:#{time.usec}"
        .ct_timestamp
          %input{ :id => time_ident, :type => 'checkbox' }
          %label{ :for => time_ident }
            - if v[:creation]
              - label = 'Object Creation'
              - label << " (#{_format_time(time)})" unless time.nil?
            - elsif v[:current]
              - label = "Current Version (#{_format_time(time)})"
            - else
              - label = _format_time(time)
            - label << " - #{v[:author]} Modified #{v[:columns_modified].english_join}" if v[:columns_modified].any?
            = label
    #timestamp_options.text-center.mb-2
      %button#view_change_btn{:class => 'btn btn-primary'}
        View Changes
  
  #change_view
  
  #diff_outline.d-none
    %a.close_icon{ :href => '#' }
      %img{ :src => '/images/control_remove.png', :title => 'Close Diff View' }
    #diff_options
      #diff_context_size
      #diff_inline
    #diff_view

/:javascript
/  google.load("dojo", "1.4.1");

%script{ :type => 'text/javascript', :src => '/js/difflib.js' }
%script{ :type => 'text/javascript', :src => '/js/diffview.js' }
/%script{ :type => 'text/javascript', :src => '/js/diffview_rewrite.js' }

/ Pretty diff require
/%script{ :type => 'text/javascript', :src => '/js/prettydiff.js' }

%script{ :type => 'text/javascript', :src => '/js/prometheus/change_tracker.js' }

:javascript
  $('#timestamp_list > .ct_timestamp').timestamp();
  $('#view_change_btn').click(change_tracker.submit_change_button);
  change_tracker.update_counter();
  change_tracker.update_change_button();
  if (change_tracker.counter == 2) {
    change_tracker.submit_change_button();
  }
  $('#diff_outline a.close_icon').click(function() {
    change_tracker.minimize_diff();
    return false;
  });
  //@ sourceURL=/gui_site/view/change_tracker/history.haml.js