.display-4.text-center
  Changes

%table.changes.table.table-bordered.table-hover
  %thead.thead-light
    %tr
      %th.attributes{:scope => 'col'}
        Attributes
      %th.column_header.old_time{:scope => 'col'}
        /= _old_value_time
        = old_time.nil? ? "Oldest Version" : _format_time(old_time)
      %th.column_header.new_time.last{:scope => 'col'}
        /= _new_value_time
        = _format_time(new_time)
  %tbody
    - attributes.each do |entry|
      %tr{ :class => entry[:richtext] ? 'richtext' : '' }
        %td.attr
          = entry[:attribute]
        %td.old<
          %div
            = entry[:old_value]
        %td.new.last<
          %div
            = entry[:new_value]

:javascript
  $('table.changes tr').attribute_row();
  $('table.changes tr.richtext').richtext();
  //@ sourceURL=/gui_site/view/change_tracker/timestamps.haml.js
