%html
  %head
    //Javascript Imports
    / %script{:src => '/js/prometheus/workflow/interact-1.2.4.min.js'}
    %script{:src => "/js/prometheus/workflow/DataTables-1.10.7/media/js/jquery.dataTables.js", :defer => true}
    %script{:src => '/js/prometheus/workflow/natural_sort_datatables.js', :defer => true}
    %script{:src => '/js/prometheus/workflow/workflow.js', :defer => true}

    //CSS Imports
    %link{:rel => "stylesheet", :type => "text/css", :href => "/js/prometheus/workflow/DataTables-1.10.7/media/css/jquery.dataTables.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/workflow/workflow.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/js/prometheus/workflow/DataTables-1.10.7/media/css/jquery.dataTables_themeroller.css"}


%h2
  Workflow Management

.new_workflow_container
  = create_new_workflow_button
    
%h3.error_message_header
  #{workflow_error_message_text}
  
.role_selection_div
  %label{:for => 'role_selection'}
    Show Items by Role:
  = workflow_role_selection_box

%table#workflow_item_table{:style => "display:none"}
  %thead
    %tr
      %th
        Identifier
      %th
        Current State
      %th
        Workflow Page
      %th
        Available Actions
      %th
        Hidden Filter Row
  %tbody
    -@all_workflow_list.each do |workflow_item|
      %tr.workflow_item_row{:class => ""}
        %td
          #{workflow_item.workflow_identifier}
        %td
          #{workflow_item.readable_state_name}
        %td
          %a{:href => workflow_item.get_state_page_url}
            #{workflow_item.readable_next_action}
        %td
          = display_available_actions(workflow_item)
        %td
          = workflow_role_data_attributes(workflow_item)

          
          
= create_new_workflow_list