$changes_column_width: 260px
$changes_attribute_column_width: 140px
$changes_cell_padding: 3px
$changes_column_header_border_color: #cccccc

.change_tracker
  border: 1px solid #dddddd
  padding: 0.5em
  margin-bottom: 0.5em
  #timestamp_column
    /margin-right: $changes_column_width * 2 + $changes_attribute_column_width + $changes_cell_padding * 6 + 10
    #timestamp_list
      border: 1px solid #dddddd
      max-height: 20em
      min-height: 5em
      overflow: auto
      padding: 0.3em 0
      .ct_timestamp
        clear: left
        input
          float: left
          margin-top: -1px
          display: inline-block
        label
          margin-left: 2px
          font-weight: normal
          float: left
    #timestamp_options
      margin: 0.5em 0
      text-align: center
  #change_view
    /float: right
    table.changes
      width: 100%
      border-top: 1px solid $changes_column_header_border_color
      border-bottom: 1px solid $changes_column_header_border_color
      td, th
        border-left: 1px solid $changes_column_header_border_color
        border-collapse: "collapse"
        padding: $changes_cell_padding
      td.last, th.last
        border-right: 1px solid $changes_column_header_border_color
      th
        font-weight: bold
        text-align: center
        border-bottom: 1px solid $changes_column_header_border_color
      td.attr
        width: $changes_attribute_column_width
        max-width: $changes_attribute_column_width
      td.new, td.old
        width: $changes_column_width
        max-width: $changes_column_width
      td > div
        max-height: 100px
        overflow: auto
      tr.hover
        background: #f0f0f0
        cursor: pointer
      tr.active_attribute
        background: #fff8c6
  #diff_outline
    margin-top: 0.8em
    display: none
    .close_icon
      display: inline-block
      float: right
      img
        margin: 5px 3px 0 0
    /table.diff
    /  max-width: 895px
    /  td
    /    max-width: 440px
    /    overflow-x: scroll
  
#ui-datepicker-div
  display: none
