$dropdown_menu_width: 250px
$dropdown_item_height: 1.5em
/*In the case we ever bring back sass, not all the dropdown menu css should be excluded on disabled*/
ul.dropdown_menu:not(.disabled)
  margin: 0
  padding: 0
  list-style: none

  li
    float: left
    display: block
    width: $dropdown_menu_width
    background: #EEE
    position: relative
    z-index: 500
    margin: 0 1px

    a
      display: block
      font-weight: 700
      line-height: $dropdown_item_height
      text-decoration: none
      color: #fff
      text-align: center
      color: #333

      &:hover
        color: maroon

  a.selected
    color: #f00

  ul
    position: absolute
    left: 0
    display: none
    margin: 0 0 0 -1px
    padding: 0
    list-style: none

    li
      width: $dropdown_menu_width
      float: left
      border-top: 1px solid #fff

    a
      display: block
      line-height: $dropdown_item_height
      color: #555

      &:hover
        color: navy
