// form specific
$response_font_color: maroon
$label_width: 220px
$label_wide_width: 220px
$label_padding_top: 0
$label_padding_right: 9px

form
  .input.checkbox
    input
      margin-top: .9em
  span.error
    padding: .4em
    margin-left: 1em

  select
    &, option
      padding-left: 0.5em

  label.main_input, input.main_input
    float: left

  .no-label
    padding-left: $label_width + $label_padding_right / 2
  
  .submission_button
    / Values other than 1.3 aren't recognized very well by Chrome on OSX (size doesn't change)
    / This value looks Ok on Safari/Firefox/Chrome in OSX (kinda small in Safari, but not terrible. Also text isn't well centered on Chrome, but still decent.)
    font-size: 1.3em

  &.wide .no-label, &.wide .no_label
    padding-left: $label_wide_width + $label_padding_right / 2

  label.error, &.wide label.error
    color: $response_font_color
    text-align: left
    width: 100%
    font-weight: normal
    padding-right: 0

  label.main_input
    width: $label_width
    display: inline-block
    text-align: left
    padding:
      top: $label_padding_top
      right: $label_padding_right

  &.wide label.main_input
    width: $label_wide_width

  .input.submit
    padding-top: 8px
    line-height: 1.2em

  &.wide .input.submit
    margin-left: $label_wide_width

  .submit-response
    display: inline-block
    text-align: left
    margin-left: 1em
    color: $response_font_color
    line-height: 1.1em
    padding-top: 3px

  .input.error
    color: $response_font_color

  .checkbox-label
    line-height: 2em

  input[type="password"]
    background-color: #FFF
    margin: 0.5em 0
    padding: 5px
