.combo
  float: left

.clock
  display: block
  cursor: pointer
  float: left
  margin-left: 2px


.sliderWrap
  position: absolute
  z-index: 100
  top: 30px
  left: 40px
  background: #fff
  border: 1px solid #ccc
  display: none

  -moz-border-radius: 6px
  -webkit-border-radius: 6px
  _padding-top: 10px

  // added by josh
  padding: 0.5em

  label
    display: block
    font-size: 11px
    font-family: sans-serif

  p
    font-size: 70%


// this used to be .auto instead of .timestamp_widget .auto
// If the timestamp widget does not work, this is why
.timestamp_widget .auto
  width: 250px
  padding-right: 10px

  div
    width: 100%

  label
    float: left
    text-align: right
    height: 20px
    line-height: 20px
    width: 30px

  p
    margin-left: 40px

    .ui-slider-range
      _font-size: .5em


.vertical
  width: 100px
  padding-left: 5px
  padding-bottom: 10px

  div
    width: 33%
    float: left
    height: 100%

  label
    text-align: center
    padding-bottom: 8px

  p
    height: 130px
    margin: 0 auto
    _margin-left: 7px

    .ui-slider-handle
      _margin-bottom: -.4em
