$border_color : #000

h3.ui-accordion-header
  padding-left: 2em

// jquery tabs: reset to basic styling
body.bp .jquery_tabs, .jquery_tabs
  ul
    margin: 0
  &.ui-widget
    font-size: inherit

.tabs_general
  ul
    &.ui-widget-header
      background-image: none
      background-color: transparent
    list-style-type: none
    margin: 0
    li
      margin: 0
      &.ui-state-active
        border: 0
      a
        text-align: center
  &.ui-tabs, .ui-tabs, .ui-tabs-nav, li a
    padding: 0 0 0 0
  &.ui-corner-all, .ui-corner-all, .ui-corner-top
    -moz-border-radius: 0
  &.ui-widget-content
    background: none
    border-width: 0
  &.ui-tabs
    .ui-tabs-panel
      padding: 1em 0 0 0
    ul.ui-tabs-nav
      margin-bottom: 5px
      li.ui-state-active
        border: "1px" "solid" $border_color
        a
          border-bottom-width: 0
          color: #000
      li
        a
          background-color: #FFF
          border-bottom: 1px "solid" $border_color
          padding: 3px 0 0 !important
          line-height: 1.5em
          width: 100%
          display: block
      li.ui-state-hover
        a
          color: #000
  ul
    border-bottom: 1em
    &.ui-widget-header
      border-width: 0
    li
      margin: 0 !important
      padding: 0 !important
      float: left
      display: inline-block
      &.ui-state-default
        background-color: transparent
        border: 0

// necessary for jQuery tabs
.ui-tabs 
  .ui-tabs-hide
    display: none

.ui-dialog-buttonpane
  text-align: center
  button
    float: none