$background_color: #333

body
  background-color: $background_color

#wrapper
  margin: 20px auto 20px
  clear: both
  text-align: left
  background-color: #fff
  padding-bottom: 40px

.content
  padding: 15px 20px 20px 20px

#nav_bar, #user_bar
  &, a, a:visited, a:hover
    text-decoration: none
    color: #fff
  a:hover
    text-decoration: underline
    color: #ddd


#nav_bar
  float: left
  text-align: left
  padding-left: 30px
  a
    margin: 0 2px

#user_bar
  float: right
  text-align: right
  padding-right: 30px
  .login_id
    display: inline-block
    font-weight: bold

#page-header
  font-weight: bold
  text-align: center
  font-size: 2em
  line-height: 2em
  border-style: solid
  border-bottom: 
    width: 0
    color: $background_color
