$row_bg_selected: #aaffff
$row_bg_unselected: white
$row_bg_unselected_pending: #6CFF66
$row_bg_unassoc_selected: #ffff99
$row_bg_unassoc_unselected: #ffcc66
$row_bg_unassoc_unselected_pending: #D1A753
$row_bg_unselected_pending_deletion: #FF0000


$header_height: 21px

.header
  padding: 0 0.5em
  background: #555555
  color: white
  margin-top: 1em
  text-align: center

/*changed directly in screen.css because how does this shit work?  documentation is where exactly?*/
.page_title
  text-align: center
  font-size: 1.6em
  color: maroon

.disabled
  color: gray;
  display: inherit;

.breadcrumb_trail
  padding: 0 0 0.3em 1em

a.change_tracker_link
  float: right
  margin-right: 1em

a.navigational_link
  font-weight: bold
  color: black
  text-decoration: none

a.navigational_link:hover
  color: navy

div.organizer_content
  border: 1px solid #dddddd
  padding: 0.5em
  margin-bottom: 0.5em

tr.content_row 
  border: 1px solid #dddddd;
  padding: 0.5em;
  margin-bottom: 0.5em;

tr.label_row
  h3, h4
    float: left;
    padding: 10px 10px 10px 0px;
    margin: 0px;
    color: gray;

div.collection
  overflow-x: auto
  overflow-y: visible
  table
    border-collapse: collapse
    margin-bottom: 0
  tr.unselected
    border: 1px solid #bbbbbb
    background: $row_bg_unselected
  tr.unselected.pending_deletion
    background: $row_bg_unselected_pending_deletion
  tr.pending_assoc.unselected
    background: $row_bg_unselected_pending
  tr.selected
    background: $row_bg_selected
  tr.unassociated_object.pending_assoc.unselected
    td
      background: $row_bg_unassoc_unselected_pending
  tr.unassociated_object
    display: none
    &.visible
      display: table-row
    td
      background: $row_bg_unassoc_unselected
  tr.unassociated_object.selected td
    background: $row_bg_unassoc_selected
  td
    border: 1px solid #bbbbbb
    //max-width: 400px
  td > div
    max-height: 160px
    min-width: 30px
    //overflow-y: auto
    p
      margin: 0
  td div.widget_Gui__Widgets__Text
    //min-width: 200px
  th
    text-align: center
    background: #555555
    color: white
  td.checkbox
    padding-bottom: 9px
    white-space: nowrap

table
  border-collapse: collapse
  tr.options
    border: 1px solid #bbbbbb
    border-top: 0
    background: $row_bg_unselected
    td
      span
        float: left
      span.creation
        float: right
      span.right
        float: right

.simple_widget
  label
    color: black
  .hide
    display: "none"
  .show
    display: "block"
  .widget_toggle_link
    float: right
    font-weight: normal
  .widget_row_form_element
    .markItUp
      margin: 0 auto
  .pretty_view
    clear: left
    overflow: auto
    margin-bottom: 1em

.widget
  margin-top: .25em

.header
  float: left
  display: block
  width: 100%
  margin-bottom: 4px

.view_header
  font-size: $header_height - 2
  line-height: $header_height
  float: left

.view_only
  margin-left: 0.2em
  font-weight: normal
  font-size: 0.7em
  color: #aaaaaa
  line-height: $header_height

.cb_label
  float: left
  margin-left: 5px
  margin-right: 5px
  color: #888888
  font-weight: bold
  display: inline-block

.lighter
  color: #888888

.edit
  b
    margin: 2px 5px 0

.code_select
  text-align: center

.time
  margin-left: 0.5em
  .time_seperator
    float: left
  .clock
    margin-top: 0.8em
  input, select
    margin: 0.8em 2px
  position: relative
  float: left
  .hourSlider
    margin-top: 4px
  .auto
    clear: left

.img_preview
  float: left
  img
    width: 100px

#image_upload_container
  .buttons
    clear: both
    float: none
    border-bottom: 1px solid #BBB
    margin-bottom: 5px
    padding: 5px
    text-align: left

    input
      float: none

#image_upload_response
  .img_preview
    float: left
    margin-right: 5px

.organizer.ui-widget
  font-family: Arial
  font-size: 1em

.collection.collapsed, .organizer.collapsed
  > .view_header
    background-image: url(/images/Up-arrow.png)
    border-bottom: 2px solid #CCC
    &.composition
      border-bottom: 2px solid green
    &.composer
      border-bottom: 2px solid blue
  > .view_content
    display: none

.collection > .view_header, .organizer > .view_header
  float: none
  padding-left: 16px
  background: url(/images/Down-arrow.png) no-repeat 0 2px
  cursor: pointer
  border-bottom-size: 0
  
  .composition
    background-color: #9F9
    & + .collection_content, & + .organizer_content
      border: 2px solid green;
  
  .composer
    background-color: #99F
      & + .collection_content, & + .organizer_content
        border: 2px solid blue;
  
  &.absorb_pagination + .collection_content
    position: relative
    table
      margin-bottom: 0
    .collection_content_data .pagination_control
      position: absolute
      left: 50%
      margin-left: 130px
      top: -1.8em
      input
        padding: 2px
        margin: 0

.content_title
  text-align: center
  font-size: 1.6em

.entry_count
  float: right
  color: #666
  font-weight: bold
  font-size: 0.8em

.syntax_not_found
  cursor: pointer
  img
    margin: 0 0 -4px 4px
  // style for the notice message that appears when you hover the img
  span
    display: none
    color: #333
    font-weight: bold
    font-size: 0.9em

input.add_assoc, select.new_assocs, input.assoc_create
  float: left
  margin: 0.5em 0 0.5em 0.5em
  margin-left: 0.5em


.or_assoc_create
  float: left
  margin: 0.3em 0.5em 0
  font-weight: bold

.collection_widget_cell
  overflow: auto
  max-height: 150px

.table_filter_row
  display: none
  &.visible
    display: table-row

.filter_cell
  padding: 4px
  div.filter_input_wrapper
    border: 1px solid #DDD
    padding: 0 2px
    input
      display: block
      width: 100%
      padding: 0
      border-width: 0

.filter_toggle_cell
  width: 16px
  text-align: center
  a
    display: block
    width: 16px
    height: 16px
    background: transparent url(/images/magnifying_glass.ico) no-repeat top left

.pretty_view
  th
    background-color: gray
    border:1px solid black
  td
    border:1px solid black

.composition
  background-color: green

.composer
  background-color: red

.not_bold
  font-weight: normal