.message_success, .message_error, .message_success_inline, .message_error_inline
  text-align: center
  font-weight: bold
  line-height: 2em
  background-color: #DDD
  border: 1px solid #BBB
  margin: 3px 0

.message_success_inline, .message_error_inline
  padding-left: 5px
  padding-right: 5px
  display: inline-block

.message_success, .message_success_inline
  color: green

.message_error, .message_error, inline
  color: red
